{% extends "base.html" %}

{% block title %}{{ block.super }} - Freund einladen{% endblock %}

{% block content %}
<div id="friend_invite">

	{% if email %}

		<h1>Einladung gesendet</h1>

		<i class="fa feedback-sent-icon fa-5x fa-check-circle"></i> 

		<p class="centered-text">
			Sehr schön, du hast an {{ email }} eine Einladung gesendet.
		</p>

		<input class="close-modal-btn" type="submit" value="Noch jemanden einladen"/>

	{% else %}

		<h1>Freund einladen</h1>
	    <form enctype="multipart/form-data" action="{% url 'invite_friend' %}" method="post" accept-charset="utf-8">
			{% csrf_token %}

		    {% for field in form.visible_fields %}
		        <p>
		        	{{ field.errors }}
		        	{{ field }}
		        </p>
		    {% endfor %}

		    {% for field in form.hidden_fields %}
		        {{ field }}
		    {% endfor %}
		    
			<input type="submit" value="Einladung senden"/>
		</form>

	{% endif %}

<!-- / #friend_invite -->
</div>
{% endblock %}