{% extends "base.html" %}

{% block title %}{{ block.super }} - Freund einladen{% endblock %}

{% block content %}
<div id="friend_invite">

	{% if error %}

		<h2>Freund einladen</h2>
	      <form enctype="multipart/form-data" action="{% url 'invite_friend' %}" method="post" accept-charset="utf-8">
	      	<ul class="errorlist"><li>Bitte eine gültige E-Mail Adresse eingeben.</li></ul>
			<p>
				<input id="id_mail" required maxlength="254" name="email" type="email" value="{{ email }}" placeholder="E-Mail">
			</p>
			<p>
				<input id="id_name" required maxlength="254" name="name" type="text" value="{{ name }}" placeholder="Dein Name">
			</p>
			<p>
				<textarea cols="40" id="id_message" name="message" rows="5" placeholder="Nachricht">{{ message }}</textarea>
			</p>
			
			<input type="hidden" name="action" value="invite">
			{% csrf_token %}
			<input type="submit" value="Einladung senden"/>
		</form>

	{% elif email %}

		<h2>Einladung gesendet</h2>

		<p>Sehr schön, du hast an {{ email }} die folgende Nachricht gesendet.</p>
		<p>"{{ message }}"</p>

		<p><label class="another-invite" for="modal-invite-friend">Weitere Einladung versenden</label></p>

	{% else %}

		<h2>Freund einladen</h2>
	      <form enctype="multipart/form-data" action="{% url 'invite_friend' %}" method="post" accept-charset="utf-8">
			<p>
				<input id="id_mail" required maxlength="254" name="email" type="email" value="{{ email }}" placeholder="E-Mail">
			</p>
			<p>
				<input id="id_name" required maxlength="254" name="name" type="text" value="{{ user.username }}" placeholder="Dein Name">
			</p>
			<p>
				<textarea cols="40" id="id_message" name="message" rows="5" placeholder="Nachricht">{{ message }}</textarea>
			</p>
			
			<input type="hidden" name="action" value="invite">
			{% csrf_token %}
			<input type="submit" value="Einladung senden"/>
		</form>

	{% endif %}

<!-- / #friend_invite -->
</div>
{% endblock %}