{% extends "base.html" %}

{% block title %}{{ block.super }} - Gruppen{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
<div class="center" id="groups-list">

	<h2>Gruppen</h2>

	<p>Die Gruppen dienen der besseren Übersicht, da sie nur die Scores ihrer Mitglieder zeigen. Erstelle hier einfach eine neue Gruppe und lade deine Freunde dazu ein. Oder vielleicht gibt es ja auch bereits in der Liste eine Gruppe mit Leuten, die du kennst. Dann trete einfach selber einer solchen Gruppe bei.</p>

	{% if user.group_invitees.all %}
		<div class="notice">
		{% if user.group_invitees.all.count == 1 %}
			Du wurdest von <a href="{% url 'questions_user' user.group_invitees.first.inviter %}">{{ user.group_invitees.first.inviter }}</a> eingeladen, der Gruppe <a href="{% url 'group_show' user.group_invitees.first.group.id %}">{{ user.group_invitees.first.group }}</a> beizutreten. 

			<br><br>

			<form class="accept" enctype="multipart/form-data" action="{% url 'group_show' user.group_invitees.first.group.id %}" method="post" accept-charset="utf-8">
				<input type="hidden" name="action" value="join">
				{% csrf_token %}
				<a href="#" class="accept" onclick="$(this).closest('form').submit()"><i class="fa fa-check"></i> Annehmen</a>
			</form>
			<form class="deny" enctype="multipart/form-data" action="{% url 'group_list' %}" method="post" accept-charset="utf-8">
				<input type="hidden" name="action" value="ignore-invite">
				<input type="hidden" name="group" value="{{ user.group_invitees.first.group.id }}">
				<input type="hidden" name="inviter" value="{{ user.group_invitees.first.inviter.id }}">
				{% csrf_token %}
				<a href="#" class="deny" onclick="$(this).closest('form').submit()"><i class="fa fa-times"></i> Ignorieren</a>
			</form>

		{% elif user.group_invitees.all.count > 1 %}
			Du wurdest zu folgenden Gruppen eingeladen:
			<ul>
				{% for invite in user.group_invitees.all %}
				<li>
					<a href="{% url 'group_show' invite.group.id %}">{{ invite.group }}</a> <i class="fa fa-envelope"></i> <i>eingeladen von</i> <a href="{% url 'questions_user' invite.inviter %}">{{ invite.inviter }}</a> 

					<form class="accept-small" enctype="multipart/form-data" action="{% url 'group_show' invite.group.id %}" method="post" accept-charset="utf-8">
						<input type="hidden" name="action" value="join">
						{% csrf_token %}
						<a href="#" class="accept" onclick="$(this).closest('form').submit()"><i class="fa response fa-check"></i></a>
					</form>
					<form class="deny-small" enctype="multipart/form-data" action="{% url 'group_list' %}" method="post" accept-charset="utf-8">
						<input type="hidden" name="action" value="ignore-invite">
						<input type="hidden" name="group" value="{{ invite.group.id }}">
						<input type="hidden" name="inviter" value="{{ invite.inviter.id }}">
						{% csrf_token %}
						<a href="#" onclick="$(this).closest('form').submit()" class="deny"><i class="fa response fa-times"></i></a>
					</form>
				</li>
				{% endfor %}
			</ul>
		{% endif %}
		</div>
	{% endif %}

	<div class="new-group">
        <a href="{% url 'create_group' %}"><i class="fa fa-plus"></i> Neue Gruppe erstellen</a>
    </div>


		{% if user.groups.all %}

		<table>

			<tr>
		    	<th class="left">Eigene Gruppen</th>
		    	<th>Mitglieder</th>
		    </tr>

			{% for group in user.groups.all %}

				<tr>
			    	<td class="left"><a href="{% url 'group_show' group.id %}">{{ group }}</a></td>
			    	<td>{{ group.user_set.count }}</td>
			    </tr>

			{% endfor %}

		</table>
		{% endif %}

		{% if groups %}
		<table>

			<tr>
		    	<th class="left">Weitere Gruppen</th>
		    	<th>Mitglieder</th>
		    </tr>

			{% for group in groups %}

				{% if group.user_set.count > 0 %}
				   	<tr>
				    	<td class="left"><a href="{% url 'group_show' group.id %}">{{ group }}</a></td>
				    	<td>{{ group.user_set.count }}</td>
				    </tr>
				{% endif %}

			{% endfor %}

		</table>
		{% endif %}


		{% if not user.groups and not groups %}



		{% endif %}

    
<!-- / #groups-list -->
</div>
{% endblock %}