{% extends "base.html" %}

{% block title %}{{ block.super }} - Login{% endblock %}

{% block navigation %}{% endblock %}

{% block stage %}

<header class="landing">
	<div id="header-wrapper">

		<a class="logo-link" href="/">
			<img id="logo" src="{{ STATIC_URL }}img/estimate-logo-schriftzug-grau.png"></img>
		</a>
		
		<div class="login">

			<div class="modal">
			  <label for="modal-login" class="login-btn">
			    <i class="fa fa-sign-in"></i> Login
			  </label>
			  <input class="modal-state" id="modal-login" type="checkbox" checked/>
			  <div class="modal-window">
			    <div class="modal-inner">
			      <label class="modal-close" for="modal-login"></label>
			      
			      <h1>Login</h1>

					<form action="{% url 'userauth_login' %}" method="post" accept-charset="utf-8">
					    <p>
					    	<input id="id_username" maxlength="254" name="username" type="text" placeholder="Benutzername">
					    </p>
					    <p>
					    	<input id="id_password" name="password" type="password" placeholder="Passwort">
					    </p>
					    <p id="login-submit">
					    	<input type="hidden" name="next" value="{{ next }}" />
					    	<input type="submit" value="Login"/>
					    </p>
					    <p>
					    	Noch kein Account? Dann <a href="{% url 'userauth_register' %}">registriere</a> dich jetzt.
					    </p>
					    {% csrf_token %}
					</form>

			    </div>
			  </div>
			</div>
		</div>
	</div>
</header>


<div class="black_area">

	<div id="landing-stage">

		<h1>Schätz' doch mal.</h1>
			
		<h3>{{ question.question }}</h3>

		<a class="start-demo-btn" href="{% url 'questions_start' %}"><span>Jetzt spielen! <i class="fa fa-arrow-circle-right"></i></span></a>


		<p>Estimate fordert dich heraus! Wie gut bist du im Schätzen? Gib deine Schätzungen zu spannenden, interessanten und lustigen Fragen ab. Sammle Punkte und finde heraus, wie gut du im Vergleich zu anderen Spielern bist. Beantworte zufällige Fragen, spiele Challenges oder such' dir Fragen aus der Sammlung aus. Und ist dir das noch nicht genug, kannst du auch selber Fragen stellen. Mach mit, Schätzen macht Spaß!</p>

	</div>

</div>

{% endblock %}

