{% extends "base.html" %}

{% block title %}{{ block.super }} - Login{% endblock %}

{% block navigation %}{% endblock %}

{% block stage %}

<header class="landing">
	<div id="header-wrapper">

		<a class="logo-link" href="/">
			<img id="logo" src="{{ STATIC_URL }}img/estimate-logo-schriftzug-grau.png"></img>
		</a>
		
		<div class="login-navi">

			<a class="navi-link" href="{% url 'userauth_register' %}"><i class="fa fa-user"></i> Account erstellen</a>

			<div class="modal">
			  <label for="modal-login" class="login-btn">
			    <i class="fa fa-sign-in"></i> Login
			  </label>
			  <input class="modal-state" id="modal-login" type="checkbox" checked/>
			  <div class="modal-window login">
			    <div class="modal-inner login">
			      <label class="modal-close" for="modal-login"></label>
			      
			      <h1>Login</h1>

					<form action="{% url 'userauth_login' %}" method="post" accept-charset="utf-8">

						{% for field in form.hidden_fields %}
					        {{ field }}
					    {% endfor %}

					    {{ form.non_field_errors }}

					    {% for field in form.visible_fields %}
					        <p>
					        	{{ field.errors }}
					        	{% if field.name == 'username' %}
					        		{% if form.username.value %}
					        			<input id="id_username" maxlength="254" name="username" type="text" value="{{ form.username.value }}" placeholder="Benutzername">
					        		{% else %}
					        			<input id="id_username" maxlength="254" name="username" type="text" placeholder="Benutzername">
					        		{% endif %}
					        	{% else %}
					    			<input id="id_password" name="password" type="password" placeholder="Passwort">
					        	{% endif %}
					        </p>
					    {% endfor %}


					    <p id="login-submit">
					    	<input type="hidden" name="next" value="{{ next }}" />
					    	<input type="submit" value="Login"/>
					    </p>
					    <p class="centered-text">
					    	Noch kein Account? <a href="{% url 'userauth_register' %}">Registrieren</a>
					    </p>

					    <strong class="line-thru">oder</strong>

					    <a class="social-login google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-google-plus"></i> <span>Mit Google anmelden</span></a>
					    {% csrf_token %}

					    <div class="smaller">
					    	Wenn du dich mit Google anmeldest und noch keinen Account besitzt, registrierst du dich und solltest dich auch in Zukunft mit Google anmelden.
					    </div>

					    {% csrf_token %}
					</form>

			    </div>
			  </div>
			</div>
		</div>
	</div>
</header>


<div class="black_area">

	<div id="landing-stage">

		<h1>Schätz' doch mal.</h1>
			
		<h3>{{ question.question }}</h3>

		<a class="start-demo-btn" href="{% url 'questions_start' %}"><span>Jetzt spielen! <i class="fa fa-arrow-circle-right"></i></span></a>


		<p>Estimate fordert dich heraus! Wie gut bist du im Schätzen? Gib deine Schätzungen zu spannenden, interessanten und lustigen Fragen ab. Sammle Punkte und finde heraus, wie gut du im Vergleich zu anderen Spielern bist. Beantworte zufällige Fragen, spiele Challenges oder such' dir Fragen aus der Sammlung aus. Und ist dir das noch nicht genug, kannst du auch selber Fragen stellen. Mach mit, Schätzen macht Spaß!</p>

	</div>

</div>

{% endblock %}

