<div style="width: 500px;">

	<a href="{{ host }}"><img src="{{ host }}{{ static_url }}img/estimate-logo-schriftzug-grau.png" height="60px"></img></a>

	<h1 style="font-weight: 300; letter-spacing: -2px;">Du wurdest von {{ name }} zum Schätzspiel <div style="font-family: 'Yanone Kaffeesatz', sans-serif; letter-spacing: 0; display: inline-block;">esti<span style="font-weight: 400;">mate</span></div> eingeladen.</h1>

	<p>"{{ message }}"</p>

	<p style="font-size: 20px;">Schau doch mal vorbei: <a href="{{ host }}">{{ host }}</a></p>

	<p>Estimate fordert dich heraus! Wie gut bist du im Schätzen? Gib deine Schätzungen zu spannenden, interessanten und lustigen Fragen ab. Finde heraus, wie gut du im Vergleich zu anderen Spielern bist. Beantworte zufällige Fragen, spiele Challenges oder such dir Fragen aus der Sammlung aus. Du kannst deinen estiMATES auch selber Fragen stellen. Mach mit, Schätzen macht Spaß!</p>

</div>