{% extends "modal.html" %}

{% block modal_label %}<i class="fa fa-share"></i> Weitersagen{% endblock %}
{% block modal_title %}Freund einladen{% endblock %}

{% block modal_content %}
<form enctype="multipart/form-data" action="{% url 'invite_friend' %}" method="post" accept-charset="utf-8">
	<p>
		<input id="id_mail" required maxlength="254" name="email" type="email" placeholder="E-Mail">
	</p>
	<p>
		{% if user.is_authenticated %}
			<input id="id_username" maxlength="254" name="username" type="hidden" value="{{ user.username }}" placeholder="Dein Name">
		{% else %}
			<input id="id_username" required maxlength="254" name="username" type="text" placeholder="Dein Name">
		{% endif %}
	</p>
	<p>
		<textarea cols="40" id="id_message" name="message" rows="5" placeholder="Nachricht"></textarea>
	</p>
	
	<input type="hidden" name="action" value="invite">
	{% csrf_token %}
	<input type="submit" value="Einladung senden"/>
</form>
{% endblock %}