{% extends "base.html" %}

{% block title %}{{ block.super }} - Neuer Account{% endblock %}

{% block navigation %}{% endblock %}

{% block stage %}

{% include "questions/header-landing.html" %}

<div class="black_area">

	<div class="half">

		<h2>Account erstellen</h2>
		
		<p>Hier kannst du deinen Account erstellen, mit dem du ein eigenes Punktekonto und vollen Zugriff auf alle Fragen hast. Außerdem kannst du Challenges spielen, Statistiken und Highscores sehen und zusammen mit deinen Freunden Gruppen bilden. Und ist dir das noch nicht genug, kannst du sogar selber Fragen stellen. Wähle deinen Benutzernamen, unter dem andere Spieler deine Schätzungen sehen können und schon bist du am Start.</p>

	</div>

	<div class="half top-padding">

		<div class="form" id="register-form">

			<form action="{% url 'userauth_register' %}" method="post" accept-charset="utf-8">
				{{ register_form.as_p }}
				{% csrf_token %}
				
				<input type="submit" value="Account erstellen"/>

				<strong class="line-thru">oder</strong>
				
				<a class="social-login google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-google-plus"></i> <span>Mit Google registrieren</span></a>
			</form>

		</div>

	</div>

	<div class="features-list">
		<div class="feature">	
			<div class="icon"><i class="fa fa-flag fa-3x"></i></div>
			<span class="name">Challenges</span>
		</div>
		<div class="feature">	
			<div class="icon"><i class="fa fa-list fa-3x"></i></div>
			<span class="name">Highscores</span>
		</div>
		<div class="feature">	
			<div class="icon"><i class="fa fa-bar-chart-o fa-3x"></i></div>
			<span class="name">Statistiken</span>
		</div>
		<div class="feature">	
			<div class="icon"><i class="fa fa-users fa-3x"></i></div>
			<span class="name">Gruppen</span>
		</div>
	</div>

</div>

{% endblock %}

