{% extends "base.html" %}

{% block title %}{{ block.super }} - Willkommen{% endblock %}

{% block content %}

<div class="modal register_done">
  <input class="modal-state" id="modal-welcome" type="checkbox" checked/>
  <div class="modal-window welcome">
    <div class="modal-inner welcome">
      <label class="modal-close welcome" for="modal-welcome"></label>

      <div class="modal-answer" id="welcome-answer"></div>
      
      <div class="modal-content" id="welcome-content">

	      <h1>Willkommen</h1>
	      <div class="greeting">Hi {{ user.username }}, du hast jetzt deinen eigenen Account.</div>
		  <p>Im Menu unter dem Punkt <a href="{% url 'questions_account' %}"> <i class="fa fa-user"></i> Konto</a> kannst du deinen Benutzernamen und dein Passwort ändern. Viel Spaß beim Schätzen!</p>

		  <label class="register_done go" for="modal-welcome">Los geht's! <i class="fa fa-arrow-circle-right"></i></label>
	  </div>

    </div>
  </div>
</div>

<div class="menu">

	<div class="menu-stage">

		{% if user.group_invitees.all %}
			<p class="invites"><i class="fa fa-envelope"></i> 
			{% if user.group_invitees.all.count == 1 %}
				Du hast eine <a href="{% url 'group_list' %}">Gruppen-Einladung</a> erhalten.
			{% elif user.group_invitees.all.count > 1 %}
				Du hast <a href="{% url 'group_list' %}">{{ user.group_invitees.all.count }} Gruppen-Einladungen</a> erhalten.
			{% endif %}
			</p>
		{% endif %}


		<div class="modal">

			<label for="modal-play" class="play-btn menu-btn">
				<i class="fa fa-arrow-circle-right"></i> <span>Spielen</span>
			</label>
			<input class="modal-state" id="modal-play" type="checkbox"/>
			<div class="modal-window play">
				<div class="modal-inner play">

		    		<label class="modal-close play" for="modal-play"></label>

		    		<div class="modal-answer" id="play-answer"></div>
		      
		    		<div class="modal-content" id="play-content">

					<h1>Spiel starten</h1>


					<a href="{% url 'questions_random' %}" class="game-mode">
						<i class="fa fa-random"></i>
						<span>Zufällige Fragen</span>
					</a>

					<a href="{% url 'questions_challenge_all' %}" class="game-mode">
						<i class="fa fa-flag"></i>
						<span>Challenge</span>
					</a>

					<a href="{% url 'questions_question_all' %}" class="game-mode">
						<i class="fa fa-list"></i>
						<span>Frage wählen</span>
					</a>

				</div>
		    </div>
		  </div>
		</div>


		<a class="highscore-btn menu-btn" href="{% url 'questions_highscore' %}">
			<i class="fa fa-trophy"></i> <span>Highscore</span>
		</a>

		<a class="statistics-btn menu-btn" href="{% url 'questions_user' user.id %}">
			<i class="fa fa-bar-chart-o"></i> <span>Statistik</span>
		</a>

		<a class="send-question-btn menu-btn" href="{% url 'questions_question_create' %}"> 
			<i class="fa fa-paper-plane"></i> <span>Frage einreichen</span>
		</a>



		<div class="short-stats">

			<div class="stat-elem">	
				<span class="title">Punktestand</span>
				<span class="value">{{ score }}</span>
			</div>
			<div class="stat-elem">	
				<span class="title">Beantwortet</span>
				<span class="value">{{ number_estimates }}</span>
			</div>

		<!-- /.short-stats -->
		</div>

	<!-- /.menu-stage --> 
	</div>

</div>


{% endblock %}