{% extends "base.html" %}

{% block title %}{{ block.super }} - Account erstellt{% endblock %}

{% block content %}
<div id="register_done">

	<h2>Account wurde erstellt</h2>

	<p>Hi {{ user.username }}, du hast jetzt deinen eigenen Account. Im Menu unter dem Punkt <a href="{% url 'questions_account' %}"> <i class="fa fa-user"></i> Konto</a> kannst du deinen Benutzernamen und dein Passwort ändern. Viel Spaß beim Schätzen!</p>

	<br>

	<p><a class="go" href="{% url 'questions_menu' %}">Los geht's! <i class="fa fa-arrow-circle-right"></i></a></p>

<!-- / #register_done -->
</div>
{% endblock %}