{% if user.is_authenticated %}
    <li><a class="navi-link logout-btn" href="{% url 'userauth_logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
{% else %}
    <li><a class="navi-link" href="{% url 'userauth_register' %}"><i class="fa fa-user"></i> Neuer Account</a></li>
    <li>
    	<div class="modal">
		  <label for="modal-login" class="login-btn">
		    <i class="fa fa-sign-in"></i> Login
		  </label>
		  <input class="modal-state" id="modal-login" type="checkbox" />
		  <div class="modal-window">
		    <div class="modal-inner">
		      <label class="modal-close" for="modal-login"></label>
		      
		      <h1>Login</h1>

				<form action="{% url 'userauth_login' %}" method="post" accept-charset="utf-8">
				    <p>
				    	<input id="id_username" maxlength="254" name="username" type="text" placeholder="Benutzername">
				    </p>
				    <p>
				    	<input id="id_password" name="password" type="password" placeholder="Passwort">
				    </p>
				    <p id="login-submit">
				    	<input type="hidden" name="next" value="{{ next }}" />
				    	<input type="submit" value="Login"/>
				    </p>
				    <p>
				    	Noch kein Account? Dann <a href="{% url 'userauth_register' %}">registriere</a> dich jetzt.
				    </p>
				    {% csrf_token %}
				</form>

		    </div>
		  </div>
		</div>
    </li>
{% endif %}