{% extends "base.html" %}

{% block title %}{{ block.super }} - Ergebnis - {{ challenge.title }}{% endblock %}

{% block content %}
<main id="challenge-score">

    <h2>Ergebnis: {{ challenge.title }}</h2>

    <h3>Punkte</h3>

    <div class="score">{{ score }}</div>

    {% if estimate_list %}
    <p>
    <table>
        <tr>
            <th>Frage</th>
            <th>Auflösung</th>
            <th>Schätzwert</th>
            <th>Fehler</th>
            <th>Punkte</th>
        </tr>
        {% for estimate in estimate_list %}
        <tr>
            <td><a href="{% url 'questions_statistics_question' estimate.question.slug %}">{{ estimate.question }}</a></td>
            <td>{{ estimate.question.answer|floatformat }}</td>
            <td>{% if estimate.estimate %}
            		{{ estimate.estimate|floatformat:"-2" }}
            	{% else %}
            		-
            	{% endif %}
            </td>
            <td>{% if estimate.percentage_error %}
            		{{ estimate.percentage_error|floatformat:"-2" }} %
            	{% else %}
            		-
            	{% endif %}
            </td>
            <td>{{ estimate.score }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'questions_challenge_highscore' challenge.slug %}">Highscore zur Challenge</a>
    </p>
    {% else %}
    <p>Du hast bisher noch keine Schätzungen abgegeben.</p>
    {% endif %}

<!-- / #challenge-score -->
</main>
{% endblock %}