{% extends "base.html" %}

{% block title %}{{ block.super }} - Challenge{% endblock %}

{% block content %}
<div id="challenge-list-all">

	<section id="open-challenges">
		
		{% if incompleted_challenges %}
		    {% for challenge, left, status in incompleted_challenges %}

			    {% if forloop.counter|divisibleby:2 %}
			    	{% if forloop.last %}
			    	<a href="{{ challenge.get_absolute_url }}" class="grid-item last-col last-row">
			    	{% else %}
			    	<a href="{{ challenge.get_absolute_url }}" class="grid-item last-col">
			    	{% endif %}
			    {% elif forloop.counter > forloop.revcounter %}
			    <a href="{{ challenge.get_absolute_url }}" class="grid-item last-row">
			    {% else %}
			    <a href="{{ challenge.get_absolute_url }}" class="grid-item">
			    {% endif %}
			    	<span class="title">{{ challenge.title }}</span><br>
			    	<div class="detail">
			    		

			    		{% if status > 0 %}

			    		Noch {{ left }} Frage{% if left >= 2 %}n {% endif %} 

			    		<div class="progress-bar-indication">
							<div class="meter" style="width: {{ status|floatformat:"-2" }}%"></div>
						</div>

						{% else %}

						{{ challenge.questions.count }}
			    		Frage{% if challenge.questions.count >= 2 %}n {% endif %} 

						{% endif %}
			    	</div>
			    </a>
		    {% endfor %}
		{% else %}
		Momentan gibt es leider keine offenen Challenges.
		{% endif %}

	</section>


	{% if completed_challenges %}
	<aside id="played-challenges">

		<h4>Abgeschlossen</h4>
		{% for challenge, score in completed_challenges %}
		<span class="challenge-item">
			<a href="{{ challenge.get_absolute_url }}">{{ challenge.title }}</a> 
		</span>
		<div class="challenge-status">{{ challenge.questions.count }} Fragen {{ score }}</div>
		{% endfor %}
		{% endif %}

	</aside>

<!-- / #challenges-list-all -->
</div>
{% endblock %}