{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ challenge.title }} - Highscore{% endblock %}

{% block content %}
<div id="challenge-highscore">

	<h2>Highscore - {{ challenge.title }}</h2>

	<p>
	<table>
		<tr>
			<th class="left">Platz</th>
			<th>Benutzer</th>
			<th class="right">Punktestand</th>
		</tr>
		{% for score in score_list %}
			{% if user == score.user %}
		    <tr class="current_user">
		    {% else %}
		    <tr>
		    {% endif %}
		    	<td class="left">{{ forloop.counter }}</td>
		    	<td><a href="{% url 'questions_statistics_user' score.user %}">{{ score.user }}</a></td>
		    	<td class="right">{{ score.score }}</td>
		    </tr>
	    {% endfor %}
	</table>
	</p>

	{% if own_questions and not own_challenge %}
	<p><small><strong>Hinweis: </strong> Da diese Challenge Fragen enthält, welche von dir eingestellt wurden, sind die Punktestände in der Highscore dementsprechend angepasst.</small></p>
	{% endif %}

<!-- / #challenge-highscore -->
</div>
{% endblock %}