{% extends "base.html" %}

{% block title %}{{ block.super }} - Challenge{% endblock %}

{% block content %}
<div id="challenge-list-all">

	<h2>Challenges</h2>
		
	{% if incompleted_challenges %}
	<ul>
	    {% for challenge, status in incompleted_challenges %}
	    <li><a href="{{ challenge.get_absolute_url }}">{{ challenge.title }}</a> <span>{{ status|floatformat:"-2" }} %</span></li>
	    {% endfor %}
	</ul>
	{% else %}
	Momentan gibt es leider keine offenen Challenges.
	{% endif %}


	{% if completed_challenges %}
	<h3>Abgeschlossen</h3>
	<ul>
		{% for challenge, score in completed_challenges %}
		<li><a href="{{ challenge.get_absolute_url }}">{{ challenge.title }}</a> <span>{{ score }}</span></li>
		{% endfor %}
	</ul>
	{% endif %}

<!-- / #challenges-list-all -->
</div>
{% endblock %}