<footer>
	2014 &copy; TJS 

	<div class="modal">
	  <label for="modal-feedback">
	    Feedback
	  </label>
	  <input class="modal-state" id="modal-feedback" type="checkbox" />
	  <div class="modal-window">
	    <div class="modal-inner">
	      <label class="modal-close" for="modal-feedback"></label>
	      
	      <h1>Feedback</h1>
			<form method="post" action="{% url 'contact_form' %}">{% csrf_token %}
				<p>
					{% if user.is_authenticated %}
						<input required type="text" id="name_id" name="name" placeholder="Name" value="{{ user.username }}">
					{% else %}
						<input required type="text" id="name_id" name="name" placeholder="Name">
					{% endif %}
				</p>
				<p>
					{% if user.is_authenticated %}
					<input required type="email" id="mail_id" name="email" placeholder="E-Mail" value="{{ user.email }}">
					{% else %}
						<input required type="email" id="mail_id" name="email" placeholder="E-Mail">
					{% endif %}
				</p>
				<p>
					<textarea required name="body" id="message_id" rows="10" cols="50" placeholder="Nachricht"></textarea>
				</p>
				<input type="submit" value="Feedback senden ">
			</form>
	    </div>
	  </div>
	</div>

	<div class="modal">
	  <label for="modal-invite-friend">
	    Weitersagen
	  </label>
	  <input class="modal-state" id="modal-invite-friend" type="checkbox" />
	  <div class="modal-window">
	    <div class="modal-inner">
	      <label class="modal-close" for="modal-invite-friend"></label>

	      <h1>Freund einladen</h1>
	      <form enctype="multipart/form-data" action="{% url 'invite_friend' %}" method="post" accept-charset="utf-8">
			<p>
				<input id="id_mail" required maxlength="254" name="email" type="email" placeholder="E-Mail">
			</p>
			<p>
				<input id="id_name" required maxlength="254" name="name" type="text" value="{{ user.username }}" placeholder="Dein Name">
			</p>
			<p>
				<textarea cols="40" id="id_message" name="message" rows="5" placeholder="Nachricht"></textarea>
			</p>
			
			<input type="hidden" name="action" value="invite">
			{% csrf_token %}
			<input type="submit" value="Einladung senden"/>
		</form>
	    </div>
	  </div>
	</div>

</footer>