<footer>
	2014 &copy; TJS 

	<div class="modal">
	  <label for="modal-feedback">
	    Feedback
	  </label>
	  <input class="modal-state" id="modal-feedback" type="checkbox" />
	  <div class="modal-window">
	    <div class="modal-inner">
	      <label class="modal-close" for="modal-feedback"></label>
	      
	      <div class="modal-content" id="feedback-content">

		      <h1>Feedback</h1>

				<form enctype="multipart/form-data" action="{% url 'feedback' %}" method="POST" accept-charset="utf-8">
					{% csrf_token %}

					<p>
						<input type="hidden" id="question_id" name="questionid" value="" placeholder="Frage">
					</p>
				    
			        {% if user.is_authenticated %}
			        	<input name="userid" type="hidden" value="{{ user.id }}">
						<input id="id_name" name="name" placeholder="Name" type="hidden" value="{{ user.username }}">
					{% else %}
						<p>
							<input name="userid" type="hidden">
							<input id="id_name" name="name" placeholder="Name" type="text">
						</p>
					{% endif %}
			    
			        <p>
			        	<input id="id_email" name="email" placeholder="E-Mail" type="email" value="{{ user.email }}">
			        </p>
			    
			        <p>
			        	<textarea cols="40" id="id_message" name="message" placeholder="Nachricht" rows="5"></textarea>
			        </p>

				    <input type="submit" value="Feedback senden">
				</form>

			</div>

	    </div>
	  </div>
	</div>

	<div class="modal">
	  <label for="modal-invite-friend">
	    Weitersagen
	  </label>
	  <input class="modal-state" id="modal-invite-friend" type="checkbox" />
	  <div class="modal-window">
	    <div class="modal-inner">
	      <label class="modal-close" for="modal-invite-friend"></label>

	      <div class="modal-answer" id="invite-friend-answer"></div>

	      <div class="modal-content" id="invite-friend-content">

		      <h1>Freund einladen</h1>
		      <form enctype="multipart/form-data" action="{% url 'invite_friend' %}" method="post" accept-charset="utf-8">
				<p>
					<input id="id_mail" required maxlength="254" name="email" type="email" placeholder="E-Mail">
				</p>
				<p>
					{% if user.is_authenticated %}
						<input id="id_username" maxlength="254" name="username" type="hidden" value="{{ user.username }}" placeholder="Dein Name">
					{% else %}
						<input id="id_username" required maxlength="254" name="username" type="text" placeholder="Dein Name">
					{% endif %}
				</p>
				<p>
					<textarea cols="40" id="id_message" name="message" rows="5" placeholder="Nachricht"></textarea>
				</p>
				
				<input type="hidden" name="action" value="invite">
				{% csrf_token %}
				<input type="submit" value="Einladung senden"/>
			</form>

		  </div>
	    </div>
	  </div>
	</div>

</footer>