<header class="landing">
	<div id="header-wrapper">

		<a class="logo-link" href="/">
			<img id="logo" src="{{ STATIC_URL }}img/estimate-logo-schriftzug-grau.png"></img>
		</a>
		
		<div class="login-navi">

			<a class="navi-link" href="{% url 'userauth_register' %}"><i class="fa fa-user"></i> Account erstellen</a>

			<div class="modal">
			  <label for="modal-login" class="login-btn">
			    <i class="fa fa-sign-in"></i> Login
			  </label>
			  <input class="modal-state" id="modal-login" type="checkbox" />
			  <div class="modal-window login">
			    <div class="modal-inner login">
			      <label class="modal-close" for="modal-login"></label>
			      
			      <h1>Login</h1>

					<form action="{% url 'userauth_login' %}" method="post" accept-charset="utf-8">
					    <p>
					    	<input id="id_username" maxlength="254" name="username" type="text" placeholder="Benutzername" autofocus>
					    </p>
					    <p>
					    	<input id="id_password" name="password" type="password" placeholder="Passwort">
					    </p>
					    <p id="login-submit">
					    	<input type="hidden" name="next" value="{{ next }}" />
					    	<input type="submit" value="Anmelden"/>
					    </p>
					    <p class="centered-text">
					    	Noch kein Account? <a href="{% url 'userauth_register' %}">Registrieren</a>
					    </p>
					    <strong class="line-thru">oder</strong>

					    <a class="social-login google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-google-plus"></i> <span>Mit Google anmelden</span></a>
					    {% csrf_token %}

					    <div class="smaller">
					    	Wenn du dich mit Google anmeldest und noch keinen Account besitzt, registrierst du dich und solltest dich auch in Zukunft mit Google anmelden.
					    </div>
					</form>

			    </div>
			  </div>
			</div>
			
		</div>
	</div>
</header>