{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block navigation %}{% endblock %}

{% block stage %}

<header class="landing">
	<div id="header-wrapper">
		<img id="logo" src="{{ STATIC_URL }}img/estimate-logo-schriftzug-grau.png"></img>

		<div id="login-form">
			<form action="{% url 'userauth_login' %}" method="post" accept-charset="utf-8">
			    {{ form.as_p }}
			    <p>
			    	<input type="hidden" name="next" value="{{ next }}" />
			    	<input type="submit" value="Login"/>
			    </p>
			    {% csrf_token %}
			</form>
		</div>
	</div>
</header>

<div id="landing-stage">

	<div id="landing">
		<h2>Schätz doch mal.</h2>
		<h3>{{ question.question }}</h3>

		<p>Estimate fordert dich heraus! Wie gut bist du im Schätzen? Gib deine Schätzungen zu spannenden, interessanten und lustigen Fragen ab. Finde heraus, wie gut du im Vergleich zu anderen Spielern bist. Beantworte zufällige Fragen, spiele Challenges oder such dir Fragen aus der Sammlung heraus. Du kannst den anderen <i>estiMATES</i> sogar auch selber Fragen stellen. Mach mit, Schätzen macht Spaß!</p>
	<!-- / #landing -->
	</div>


	<div id="register">

		<h3><i class="fa fa-user"></i> Neuer Account</h3>

		<p>Wähle deinen Namen und ein Passwort und lege direkt los.</p>

		<div class="form" id="register-form">
			{% include "userauth/register_form.html" %}
		<!-- / #register-form -->
		</div>

	<!-- / #register -->
	</div>

</div>

{% endblock %}

