{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}


{% block content %}

<div id="landing">
	<h2>Willkommen</h2>
	<p>Dies ist eine Plattform zum Sammeln von Schätzwerten. Du bist herzlich eingeladen, zu interessanten Themen deine eigenen Schätzungen abzugeben. Finde heraus, wie gut du im Vergleich zu anderen Teilnehmern schätzen kannst. </p>
<!-- / #landing -->
</div>


<div id="register-login">
	<ul class="accordion">
  		<li class="selected" rel="register-form"><i class="fa fa-user"></i> Neuer Account</li>
  		<li class="not-selected" rel="login-form"><i class="fa fa-sign-in"></i> Login</li>
  	</ul>

	<div class="form" id="register-form">
		{% include "userauth/register_form.html" %}
	<!-- / #register-form -->
	</div>
	<div class="form" id="login-form">
		{% include "userauth/login_form.html" %}
	<!-- / #login-form -->
	</div>
<!-- / #register-login -->
</div>

{% endblock %}