<h1>{{ question.title }}</h1>

<p id="question">{{ question.question }}</p>

<p><b>Autor:</b> <a href="{{ host }}{% url 'questions_user' question.author.id %}">{{ question.author }}</a></p>

<p>{% if question.answer %}
	<b>Antwort:</b> ***
	<br>
	{% endif %}
{% if question.unit %}
<b>Einheit:</b> {{ question.unit }}
{% endif %}
</p>

<p><b>Quelle:</b> {{ question.source|safe }}</p>

{% if question.explanation %}
    <p><b>Erklärung:</b> {{ question.explanation }}</p>
{% endif %}


{% if question.image %}
	<p><a href="{{ host }}{{ media_url }}{{ question.image }}"><img width="100%" src="{{ host }}{{ media_url }}{{ question.image }}" /></a></p>
{% endif %}

<p><a href="{{ host }}/admin/questions/question">{{ host }}/admin/questions/question</a></p>