{% extends "base.html" %}

{% block title %}{{ block.super }} - Menü{% endblock %}

{% block content %}
<main id="menu">

	<h2>Menü</h2>
	<ul>
	    <li><a href="{% url 'questions_question_random' %}">Zufällige Fragen</a></li>
	    
	    {% if challenges %}
	    <li><a href="{% url 'questions_challenge_all' %}">Challenge</a></li>
	    {% endif %}

	    {% if is_admin %}
	    <li><a href="{% url 'questions_statistics_all' %}">Crowd-Statistik</a></li>
	    {% endif %}
	    
	    <li><a href="{% url 'questions_statistics_user' user.username %}">Statistik</a></li>
	    <li><a href="{% url 'questions_highscore' %}">Highscore</a></li>
	</ul>

<!-- / #menu -->
</main>
{% endblock %}