{% extends "base.html" %}

{% block title %}{{ block.super }} - Menü{% endblock %}

{% block content %}

<div class="menu">

	<div class="menu-stage">

		{% if user.group_invitees.all %}
			<p class="invites"><i class="fa fa-envelope"></i> 
			{% if user.group_invitees.all.count == 1 %}
				Du hast eine <a href="{% url 'group_list' %}">Gruppen-Einladung</a> erhalten.
			{% elif user.group_invitees.all.count > 1 %}
				Du hast <a href="{% url 'group_list' %}">{{ user.group_invitees.all.count }} Gruppen-Einladungen</a> erhalten.
			{% endif %}
			</p>
		{% endif %}

		{% include "questions/modal-play.html" with modal_id="modal-play" modal_class="play" %}

		<a class="highscore-btn menu-btn" href="{% url 'questions_highscore' %}">
			<i class="fa fa-trophy"></i> <span>Highscore</span>
		</a>

		<a class="statistics-btn menu-btn" href="{% url 'questions_user' user.id %}">
			<i class="fa fa-bar-chart-o"></i> <span>Statistik</span>
		</a>

		<a class="send-question-btn menu-btn" href="{% url 'questions_question_create' %}"> 
			<i class="fa fa-paper-plane"></i> <span>Frage einreichen</span>
		</a>



		<div class="short-stats">

			<div class="stat-elem">	
				<span class="title">Punktestand</span>
				<span class="value">{{ score }}</span>
			</div>
			<div class="stat-elem">	
				<span class="title">Beantwortet</span>
				<span class="value">{{ number_estimates }}</span>
			</div>

		<!-- /.short-stats -->
		</div>

	<!-- /.menu-stage --> 
	</div>

</div>


{% endblock %}