{% extends "base.html" %}

{% block title %}{{ block.super }} - Menü{% endblock %}

{% block content %}

<section class="menu">

	<div class="row">
		<a class="menu-btn challenge_btn" href="{% url 'questions_challenge_all' %}">
			<div class="wrapper">
				<div class="cell">
					<i class="fa fa-flag"></i>
					<span>Challenge</span>
				</div>
			</div>
		</a>

		<a class="menu-btn random_btn" href="{% url 'questions_random' %}">
			<div class="wrapper">
				<div class="cell">
					<i class="fa fa-random"></i>
					<span>Zufällige Fragen</span>
				</div>
			</div>
		</a>

	<!-- /.row --> 
	</div>

	<div class="row">
		<a class="menu-btn choose_btn" href="{% url 'questions_question_all' %}">
			<div class="wrapper">
				<div class="cell">
					<i class="fa fa-list"></i>
					<span>Frage wählen</span>
				</div>
			</div>
		</a>

		<a class="menu-btn create_btn" href="{% url 'questions_question_create' %}">
			<div class="wrapper">
				<div class="cell">
					<!-- Alternative icons
					<i class="fa fa-plus"></i>
					<i class="fa fa-file-text"></i> -->
					<i class="fa fa-paper-plane"></i>
					<span>Frage einreichen</span>
				</div>
			</div>
		</a>

	<!-- /.row --> 
	</div>

<!-- /#games-menu --> 
</section>


<aside class="menu">

	<div class="short-stats">
		<div class="score">	
			<span class="title">Punktestand</span>
			<span class="value">{{ score }}</span>
		</div>

		<div class="number">	
			<span class="title">Beantwortet</span>
			<span class="value">{{ number_estimates }}</span>
		</div>
	<!-- /.short-stats -->
	</div>

	<div id="statistics-menu">
		<ul>
			<li><a href="{% url 'questions_highscore' %}"><i class="fa fa-trophy"></i> Highscore</a></li>
		    <li><a href="{% url 'questions_user' user %}"><i class="fa fa-bar-chart-o"></i> Statistik</a></li>
		    <li><a href="{% url 'questions_statistics_crowd' %}"><i class="fa fa-users"></i> Crowd</a></li>
		</ul>
	<!-- /#statistics-menu -->
	</div>

</aside>

{% endblock %}