<div class="navigation-wrapper">
	<div id="corporate">
		<a href="/">
			<img id="logo" src="{{ STATIC_URL }}img/estimate-logo-farbe.png" alt="">
		</a>
		<a href="/">
			<div id="font">
				<div id="esti">esti</div>
				<div id="mate">mate</div>
			</div>
		</a>
	</div>
	<nav>
		<ul>
		{% if user.is_authenticated %}
			<li><a href="{% url 'questions_menu' %}">Hauptmenü</a></li>
			<li><a href="{% url 'questions_statistics_user' user.username %}">Konto</a></li>
		{% endif %}

		{% include "userauth/toggle_login.html" %}
		</ul>
	</nav>
<!-- / .navigation-wrapper -->
</div>