{% extends "base.html" %}

{% block title %}{{ block.super }} - Frage einreichen{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
<div id="question-create">

	{% if form %}

		<h2>Frage einreichen</h2>

		<form enctype="multipart/form-data" action="{% url 'questions_question_create' %}" method="post" accept-charset="utf-8">
		    {{ form.as_p }}
		    {% csrf_token %}
		    <input type="submit" value="Absenden"/>
		</form>

	{% else %}

		<h2>Frage eingereicht</h2>
		<p>Danke, du hast deine Frage erfolgreich eingereicht. Bitte habe noch ein wenig Geduld! Deine Frage wird jetzt nochmal überprüft. Daher dauert es noch etwas, bis sie zum Schätzen verfügbar ist. </p>


	{% endif %}

<!-- / #question-create -->
</div>
{% endblock %}