{% extends "base.html" %}

{% block title %}{{ block.super }} - Frage einreichen{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
<div id="question-create">

	{% if form %}

		<h2>Frage einreichen</h2>

		<form enctype="multipart/form-data" action="{% url 'questions_question_create' %}" method="post" accept-charset="utf-8">
		    {{ form.as_p }}
		    {% csrf_token %}
		    <input type="submit" value="Absenden"/>
		</form>

	{% else %}
		<div class="title">
			<h2>Frage eingereicht</h2>

			<div class="create-another">
		        <a href="{% url 'questions_question_create' %}"><i class="fa fa-paper-plane"></i> Noch eine</a>
		    </div>
		</div>

		<p>Danke, du hast deine Frage erfolgreich eingereicht. Bitte habe noch ein wenig Geduld! Deine Frage wird jetzt nochmal überprüft. Daher dauert es noch etwas, bis sie zum Schätzen verfügbar ist. </p>
		
		<h3>Vorschau: {{ question.title }}</h3>

		{% if question.image %} 
		<section>
		{% else %}
		<section class="without-aside">
		{% endif %}

				<p id="question">{{ question.question }}</p>

				{% if question.unit %}
				<small id="unit"><b>Einheit:</b> {{ question.unit }}</small>
				{% endif %}

		</section>

		{% if question.image %}
		<aside>
			<p><a href="/{{ question.image }}" data-lightbox="{{ question.slug }}" data-title="{{ question.title }}"><img src="/{{ question.image }}" /></a></p>
		</aside>
		{% endif %}


	{% endif %}

<!-- / #question-create -->
</div>
{% endblock %}