{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ question.title }}{% endblock %}

{% block content %}
<h2>{{ question.title }}</h2>
<p>{{ question.question }}</p>

{% if question.unit %}
<small>Einheit: {{ question.unit }}</small>
{% endif %}

{% if question.image %}
<p><img src="/{{ question.image }}" /></p>
{% endif %}

<!-- Countdown Timer -->
<div id="countdown"></div>

<!-- Estimate Add Form -->
<form action="{{ action_url }}" method="post" accept-charset="utf-8">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Speichern"/></p>
</form>

<!-- <a href="{% url 'questions_question_all' %}">zurück zur Übersicht</a>-->
{% endblock %}