{% extends "base.html" %}

{% block title %}{{ block.super }} - Alle Fragen{% endblock %}

{% block content %}
<div id="questions-list-all">
	<div class="full">

		{% if question_list.count > 0 %}

			<h2>Offene Fragen</h2>
			<ul class="open-questions">
			    {% for question in question_list %}
			    <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a> 
					{% if user.is_superuser %}
			    		<a href="{% url 'questions_statistics_question' question.slug %}"> <i class="fa fa-bar-chart-o"></i></a>
			    	{% endif %}
			    </li>
			    {% endfor %}
			</ul>

		{% else %}

		<h2>Alle Fragen beantwortet</h2>
		<p>Glückwunsch, du hast alle Fragen beantwortet. Momentan stehen leider keine weiteren Fragen zur Verfügung. Willst du das ändern? Dann überlege dir doch mal <a href="{% url 'questions_question_create' %}">weitere Fragen</a>.</p>
		<p>Schaue dir deine <a href="{% url 'questions_user' user.username %}">Statistik</a> mit all deinen Schätzungen an.</p>

		{% endif %}

	</div>

	{% if ready_list %}
	<div class="half">

		<h3><i class="fa fa-check-circle"></i> Beantwortet</h3>
		<ul class="answered-questions">
			{% for question in ready_list %}
		    <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
		    	<a href="{% url 'questions_statistics_question' question.slug %}"> <i class="fa fa-bar-chart-o"></i></a>
		    </li>
		    {% endfor %}
		</ul>

	</div>
	{% endif %}

	{% if own_questions.count > 0 %}
	<div class="half">

		<h3><i class="fa fa-pencil"></i> Eigene Fragen</h3>
		<ul>
			{% for question in own_questions %}
		    <li><a href="{% url 'questions_statistics_question' question.slug %}">{{ question.title }}</a></li>
		    {% endfor %}
		</ul>

	</div>
	{% endif %}
	

<!-- / #questions-list-all -->
</div>
{% endblock %}