{% extends "base.html" %}

{% block title %}{{ block.super }} - Ergebnis - {{ question.title }}{% endblock %}

{% block content %}
<div id="question-score">

	<h2>{{ question.title }}</h2>

	<a class="question-stats-btn" href="{% url 'questions_statistics_question' question.slug %}">Statistik</a>

	<section class="result">

		<div class="resolution">	
			<span class="title">Auflösung</span>

			{% if question.answer < 99999 %}
				<span class="value">
			{% elif question.answer < 999999999 %}
				<span class="value small">
			{% elif question.answer < 999999999999 %}
				<span class="value smaller">
			{% elif question.answer < 999999999999999 %}
				<span class="value tiny">
			{% else %}
				<span class="value really-tiny">
			{% endif %}

			{{ question.answer|floatformat }}</span> {% if question.unit %}{{ question.unit }}{% endif %}
		</div>

		<div class="score">	
			<span class="title">Punkte</span>
			<span class="value">{{ estimate.score }}</span>
		</div>

		{% if estimate.estimate == None %}
			<h3>Zeit abgelaufen.</h3>
			<span id="show_resolution" class="link_like">Zeige Auflösung</span>
			<p id="resolution" class="hidden"><strong>Auflösung</strong> {{ question.answer|floatformat }}</p>
		{% else %}
			{% if estimate.estimate == question.answer %}
				<h3>Punktlandung!</h3>
			{% elif estimate.score == 100 %}
				<h3>Wahnsinn!</h3>
			{% elif estimate.score >= 98 %}
				<h3>Ganz knapp daneben!</h3>
			{% elif estimate.score >= 95 %}
				<h3>Sehr gut!</h3>
			{% elif estimate.score >= 90 %}
				<h3>Nicht schlecht!</h3>
			{% endif %}

			<table>
				<tr>
					<td class="left"><strong>Schätzung</strong></td>
					<td class="right">{{ estimate.estimate|floatformat:"-2" }}</td>
				</tr>
				<tr>
					<td class="left"><strong>Fehler</strong></td>
					<td class="right">{{ estimate.percentage_error|floatformat:"-2" }} %</td>
				</tr>
				<tr>
					<td class="left"><strong>&#216; Schätzung</strong></td> 
					<td class="right">{{ avg_estimate.estimate|floatformat:"-2" }}</td>
				</tr>
				<tr>
					<td class="left"><strong>&#216; Punktzahl</strong></td>
					<td class="right">{{ avg_estimate.score|floatformat:"0" }}</td>
				</tr>
			</table>
		{% endif %}

		<a class="next-random-btn" href="{% url 'questions_question_random' %}">Nächste Zufallsfrage</a>

	<!-- /.half -->
	</section>

	<aside class="question">

		<p>{{ question.question }}</p>

		{% if question.unit %}
			<small id="unit">Einheit: {{ question.unit }}</small>
		{% endif %}

		{% if question.image %}
			<p><img src="/{{ question.image }}" /></p>
		{% endif %}

	<!-- /.half -->
	</aside>

<!-- / #question-score -->
</div>
{% endblock %}