{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ question.title }}{% endblock %}

{% block content %}
<div id="question-show">

	{% if question.image %} 
	<section>
	{% else %}
	<section class="without-aside">
	{% endif %}

		{% if challenge %}
			<h2>{{ challenge.title }} {{ current_question }} / {{ all_questions }}</h2>
		{% else %}
			<h2>{{ question.title }}</h2>
		{% endif %}
		

		{% if user != question.author %}

			<!-- Countdown Timer -->
			<div id="countdown"></div>

			{% if challenge %}
				<h3 class="new-line">{{ question.title }}</h3>
			{% endif %}
			
			<p id="question">{{ question.question }}</p>
			

			{% if question.unit %}
			<small id="unit"><b>Einheit:</b> {{ question.unit }}</small>
			{% endif %}

			<!-- Estimate Add Form -->
			<form action="{{ action_url }}" method="post" accept-charset="utf-8">
			    {% csrf_token %}
			    {% for hidden in form.hidden_fields %}
	                {{ hidden }}
	            {% endfor %}

	            <div class="error">
	            	<ul class="errorlist"><li>Bitte gib einen Schätzwert ein.</li></ul>
	            </div>

	            {% for field in form.visible_fields %}
	                {{ field.errors }}
	                {{ field }}
	            {% endfor %}
			    <input type="submit" value="Speichern"/>
			</form>

		{% else %}

			{% if challenge %}
				<h3 class="new-line">{{ question.title }}</h3>
			{% endif %}

			<p>Nicht schummeln! Diese Frage hast du selbst erstellt. Aber schau dir doch die <a href="{% url 'questions_statistics_question' question.slug %}">Statistik</a> zu deiner Frage an.</p>

		{% endif %}

	</section>

	{% if question.image %}
	<aside>
		<p><a href="/{{ question.image }}" data-lightbox="{{ question.slug }}" data-title="{{ question.title }}"><img src="/{{ question.image }}" /></a></p>
	</aside>
	{% endif %}

	

<!-- / #question-show -->
</div>
{% endblock %}