{% extends "base.html" %}

{% block title %}{{ block.super }} - Statistik{% endblock %}

{% block content %}
<div id="statistics-user">

    <div class="multi-title">
        <span>Statistik</span>
        {{ show_user }}
    </div>


    <div class="stats">
        <table>

            <tr class="score"> 
                <td class="title">Punktestand</td>
                <td class="value">{{ score }}</td>
            </tr>

            <tr class="number"> 
                <td class="title">Beantwortete Fragen</td>
                <td class="value">{{ estimate_list.count }}</td>
            </tr>

            <tr class="per-question"> 
                <td class="title">Punkte pro Frage</td>
                <td class="value">{{ score_per_question }}</td>
            </tr>

            <tr class="per-question"> 
                <td class="title">Fehler pro Frage</td>
                <td class="value">{{ error_per_question|floatformat:"-2" }}%</td>
            </tr>

        </table>
    </div>


    {% if estimate_list %}
    <h3>Schätzungen</h3>

    <table class="estimates">
        <tr>
            <th>Frage</th>
            <th>Auflösung</th>
            <th class="no-mobile">Schätzwert</th>
            <th class="no-tablet">Fehler</th>
            <th>Punkte</th>
        </tr>
        {% for estimate in estimate_list %}
        <tr>
            <td><a href="{% url 'questions_statistics_question' estimate.question.slug %}">{{ estimate.question }}</a></td>
            <td>{{ estimate.question.answer|floatformat }}</td>
            <td class="no-mobile">{{ estimate.estimate|floatformat:"-2" }}</td>
            <td class="no-tablet">{{ estimate.percentage_error|floatformat:"-2" }} %</td>
            <td>{{ estimate.score }}</td>
        </tr>
        {% endfor %}
        {% if estimates_time_out %}
            {% for estimate in estimates_time_out %}
            <tr>
                <td><a href="{% url 'questions_statistics_question' estimate.question.slug %}">{{ estimate.question }}</a></td>
                <td>{{ estimate.question.answer|floatformat }}</td>
                <td class="no-mobile"></td>
                <td class="no-tablet"></td>
                <td class="timed-out">Zeit abgelaufen.</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>

    {% else %}
        <p>Du hast bisher noch keine Schätzungen abgegeben.</p>
    {% endif %}

    <h3>Mitglied seit</h3>
    {{ show_user.date_joined }}

<!-- / #statistics-user -->
</div>
{% endblock %}