{% extends "base.html" %}

{% block title %}{{ block.super }} - Statistik - {{ question.title }} {% endblock %}

{% block content %}
<h2>Statistik: {{ question.title }}</h2>

<p>{{ question.question }}</p>

{% if question.unit %}
<small>Einheit: {{ question.unit }}</small>
{% endif %}

{% if question.image %}
    <p><img src="/{{ question.image }}" /></p>
{% endif %}

{% if own_estimate or admin %}

    <h3>Auflösung</h3>
    <div class="resolution">{{ question.answer|floatformat }} {% if question.unit %}{{ question.unit }}{% endif %}</div>

    {% if estimate_list %}
        <h3>Schätzungen</h3>
        <p>
        <table>
            <tr>
                <th>Benutzer</th>
                <th>Punkte</th>
                <th>Schätzung</th>
                <th>Fehler</th>
            </tr>
            {% for e in estimate_list %}
                {% if user == e.user %}
                    <tr class="current_user">
                {% else %}
                    <tr>
                {% endif %}
                <td><a href="{% url 'questions_statistics_user' e.user %}">{{ e.user }}</a></td>
                <td>{{ e.score }}</td>
                <td>{{ e.estimate|floatformat:"-2" }}</td>
                <td>{{ e.percentage_error|floatformat:"-2" }} %</td>
            </tr>
            {% endfor %}
        </table>
        </p>

    {% else %}
        <p>Bisher wurden für diese Frage noch keine Schätzungen abgegeben.</p>
    {% endif %}

{% else %}
    
    <p>Du hast zu dieser Frage bisher noch keine Schätzung abgegeben. Willst du das jetzt tun? Dann gehe direkt zur Frage: <a href="{% url 'questions_question_show' question.slug %}">{{ question.title }}</a></p>

{% endif %}


{% endblock %}