{% extends "base.html" %}
{% load l10n %}

{% block title %}{{ block.super }} - Statistik - {{ question.title }} {% endblock %}

{% block content %}
<div id="statistics-question">

    <div class="multi-title">
        <span>Statistik</span>
        {{ question.title }}
    </div>

    {% if own_estimate or user == question.author or user.is_superuser %}

        <section>

            {% if avg_estimate %}

                <table>
                    <tr>
                        <td class="left"><strong>&#216; Schätzung</strong></td>
                        <td class="right">{{ avg_estimate.estimate|floatformat }} {% if question.unit %}{{ question.unit }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="left"><strong>&#216; Fehler</strong></td>
                        <td class="right">{{ avg_estimate.percentage_error|floatformat:"-2" }} %</td>
                    </tr>
                </table>

            {% endif %}

            {% if estimate_list %}
                <br>
                <h3>Schätzungen</h3>

                <table>
                    <tr>
                        <th class="medium"><i class="fa fa-chevron-down"></i></th>
                        <th class="left">Benutzer</th>
                        <th>Punkte</th>
                        <th>Schätzung</th>
                        <th class="right">Fehler</th>
                        {% if admin %}
                            <th class="small"><i class="fa fa-eye"></i></th>
                        {% endif %}
                    </tr>
                    {% for e in estimate_list %}
                        {% if user == e.user %}
                            <tr class="current_user">
                        {% elif admin and not e.stats %}
                            <tr class="no_stats">
                        {% else %}
                            <tr>
                        {% endif %}
                        <td class="medium">{{ forloop.counter }}</td>
                        <td class="left"><a href="{% url 'questions_user' e.user.id %}">{{ e.user }}</a></td>
                        <td>{{ e.score }}</td>
                        <td>{{ e.estimate|floatformat:"-2" }}</td>
                        <td class="right">{{ e.percentage_error|floatformat:"-2" }} %</td>
                        {% if admin %}
                            {% if e.stats %}
                                <td class="small">
                                    <form action="{% url 'questions_statistics_question' question.slug %}" method="post" accept-charset="utf-8" class="deactivate-stats">
                                        {% csrf_token %}
                                        <input id="estimate_id" type="hidden" name="estimate_id" value="{{ e.id|unlocalize }}">
                                        <input type="checkbox" name="stats" checked>
                                    </form>
                                </td>
                            {% else %}
                                <td class="small">
                                    <form action="{% url 'questions_statistics_question' question.slug %}" method="post" accept-charset="utf-8" class="activate-stats">
                                        {% csrf_token %}
                                        <input id="estimate_id" type="hidden" name="estimate_id" value="{{ e.id|unlocalize }}">
                                        <input type="checkbox" name="stats">
                                    </form>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>

            {% else %}

                <p>Bisher wurden für diese Frage noch keine Schätzungen abgegeben.</p>

            {% endif %}

        </section>

        <aside>

            <p>{{ question.question }}</p>

            <div class="resolution">    
                <span class="title">Auflösung</span>

                {% if question.answer < 99999 %}
                    <span class="value">
                {% elif question.answer < 999999999 %}
                    <span class="value small">
                {% elif question.answer < 999999999999 %}
                    <span class="value smaller">
                {% elif question.answer < 999999999999999 %}
                    <span class="value tiny">
                {% else %}
                    <span class="value really-tiny">
                {% endif %}

                {{ question.answer|floatformat }} {% if question.unit %}{{ question.unit }}{% endif %}
            </div>

            {% if question.explanation %}
                <p class="explanation">{{ question.explanation }}</p>
            {% endif %}

            {% if question.image %}
                <p><a href="/{{ question.image }}" data-lightbox="{{ question.slug }}" data-title="{{ question.title }}"><img src="/{{ question.image }}" /></a></p>
            {% endif %}

            {% if question.source %}
                <p><small><b>Quelle:</b> {{ question.source|safe }}</small></p>
            {% endif %}

            {% if not question.author.is_superuser %}
                <p><small><b>Fragensteller:</b> <a href="{% url 'questions_user' question.author.id %}">{{ question.author }}</a></small></p>
            {% endif %}

        </aside>

    {% else %}
        
        <p>Du hast zu dieser Frage bisher noch keine Schätzung abgegeben. Willst du das jetzt tun? Dann gehe direkt zur Frage: <a href="{% url 'questions_question_show' question.slug %}">{{ question.title }}</a></p>

    {% endif %}

<!-- / #statistics-question -->
</div>
{% endblock %}