{% extends "base.html" %}

{% block title %}{{ block.super }} - Statistik{% endblock %}

{% block content %}
<div id="statistics-all">

    <h2>Crowd-Statistik</h2>

    <div class="error"> 
        <span class="title">&#216; Fehler der Crowd</span>
        <span class="value">{{ avg_percentage_error|floatformat:"-2" }}%</span>
    </div>

    <div class="error">
    {% if best_avg_estimate %} 
        <span class="title">&#216; Fehler von <a class="best" href="{% url 'questions_user' best_avg_estimate.user %}">{{ best_avg_estimate.user }}</a></span>
        <span class="value">{{ best_avg_estimate.percentage_error|floatformat:"-2" }}%</span>
    {% endif %}
    </div>
    

    {% if estimate_list %}
    <h3>Schätzungen</h3>

    <table>
        <tr>
            <th>Frage</th>
            <th class="no-tablet">Antwort</th>
            <th class="no-mobile">Schätzung</th>
            <th>Fehler</th>
            <th>Anzahl</th>
            <th>Beste Schätzung</th>
        </tr>
        {% for avg, best, count, show in estimate_list %}
            {% if best.user == user %}
            <tr class="current_user">
            {% else %}
            <tr>
            {% endif %}

            {% if show %}
                <td><a href="{% url 'questions_statistics_question' avg.question.slug %}">{{ avg.question }}</a></td>
                <td class="no-tablet">{{ avg.question.answer|floatformat }}</td>
                <td class="no-mobile">{{ avg.estimate|floatformat:"-2" }}</td>
                <td>{{ avg.percentage_error|floatformat:"-2" }} %</td>
                <td>{{ count }}</td>
                <td><a class="best" href="{% url 'questions_user' best.user %}">{{ best.user }}  {{ best.estimate }}</a>{{ best.percentage_error|floatformat:"-2" }}%</td>

            {% else %}

                <td><a href="{% url 'questions_question_show' avg.question.slug %}">{{ avg.question }}</a></td>
                <td class="no-tablet"></td>
                <td class="no-mobile"></td>
                <td>{{ avg.percentage_error|floatformat:"-2" }} %</td>
                <td>{{ count }}</td>
                <td><a class="best" href="{% url 'questions_user' best.user %}">{{ best.user }} {{ best.estimate }}</a>{{ best.percentage_error|floatformat:"-2" }}%</td>

            {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Bisher wurden noch keine Schätzungen abgegeben.</p>
    {% endif %}

<!-- / #statistics-all -->
</div>
{% endblock %}