{% extends "base.html" %}

{% block title %}{{ block.super }} - Statistik - {{ question.title }} {% endblock %}

{% block content %}
<div id="statistics-question">

    <div class="multi-title">
        <span>Statistik</span>
        {{ question.title }}
    </div>

    {% if own_estimate or user == question.author %}

        <section>

            {% if avg_estimate %}

                <div class="avg_estimate">    
                    <span class="title">&#216; Schätzung</span>

                    {% if avg_estimate.estimate < 99999 %}
                        <span class="value">
                    {% elif avg_estimate.estimate < 999999999 %}
                        <span class="value small">
                    {% elif avg_estimate.estimate < 999999999999 %}
                        <span class="value smaller">
                    {% elif avg_estimate.estimate < 999999999999999 %}
                        <span class="value tiny">
                    {% else %}
                        <span class="value really-tiny">
                    {% endif %}

                    {{ avg_estimate.estimate|floatformat }}</span>
                </div>

                <div class="avg_error">    
                    <span class="title">&#216; Fehler</span>
                    <span class="value">{{ avg_estimate.percentage_error|floatformat:"-2" }}%</span>
                </div>

            {% endif %}

            {% if estimate_list %}

                <table>
                    <tr>
                        <th class="left">Benutzer</th>
                        <th>Punkte</th>
                        <th>Schätzung</th>
                        <th class="right">Fehler</th>
                    </tr>
                    {% for e in estimate_list %}
                        {% if user == e.user %}
                            <tr class="current_user">
                        {% else %}
                            <tr>
                        {% endif %}
                        <td class="left"><a href="{% url 'questions_user' e.user %}">{{ e.user }}</a></td>
                        <td>{{ e.score }}</td>
                        <td>{{ e.estimate|floatformat:"-2" }}</td>
                        <td class="right">{{ e.percentage_error|floatformat:"-2" }} %</td>
                    </tr>
                    {% endfor %}
                </table>

            {% else %}

                <p>Bisher wurden für diese Frage noch keine Schätzungen abgegeben.</p>

            {% endif %}

        </section>

        <aside>

            <p>{{ question.question }}</p>

            {% if question.unit %}
            <small>Einheit: {{ question.unit }}</small>
            {% endif %}

            <div class="resolution">    
                <span class="title">Auflösung</span>

                {% if question.answer < 99999 %}
                    <span class="value">
                {% elif question.answer < 999999999 %}
                    <span class="value small">
                {% elif question.answer < 999999999999 %}
                    <span class="value smaller">
                {% elif question.answer < 999999999999999 %}
                    <span class="value tiny">
                {% else %}
                    <span class="value really-tiny">
                {% endif %}

                {{ question.answer|floatformat }}</span>
            </div>

            {% if question.image %}
                <p><a href="/{{ question.image }}" data-lightbox="{{ question.slug }}" data-title="{{ question.title }}"><img src="/{{ question.image }}" /></a></p>
            {% endif %}

            {% if question.source %}
                <p>Quelle: {{ question.source }}</p>
            {% endif %}

        </aside>

    {% else %}
        
        <p>Du hast zu dieser Frage bisher noch keine Schätzung abgegeben. Willst du das jetzt tun? Dann gehe direkt zur Frage: <a href="{% url 'questions_question_show' question.slug %}">{{ question.title }}</a></p>

    {% endif %}

<!-- / #statistics-question -->
</div>
{% endblock %}