* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

body {
  margin: 0; }
  body #main {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 15px; }
    body #main:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 480px) {
      body #main {
        padding: 10px; } }
    body #main h1 {
      margin: 5px 0 15px 0;
      letter-spacing: -2px;
      display: block;
      font-size: 2.5em;
      font-weight: 200; }
    body #main h2 {
      margin: 5px 0 15px 0;
      letter-spacing: -1.8px;
      font-size: 2.3em;
      display: block;
      font-weight: 300; }
    body #main h3 {
      margin: 5px 0 10px 0;
      text-transform: uppercase;
      font-size: 23px;
      letter-spacing: -1.3px;
      display: block;
      font-weight: 300; }
    body #main h4 {
      margin: 3px 0 10px 0;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: -1px;
      display: block;
      font-weight: 300; }
    @media screen and (max-width: 480px) {
      body #main p {
        line-height: 1.3em; } }
    body #main section {
      padding-bottom: 15px;
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 58.97436%; }
      body #main section:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        body #main section {
          float: left;
          display: block;
          margin-right: 3.22581%;
          width: 61.29032%; }
          body #main section:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        body #main section {
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 100%; }
          body #main section:last-child {
            margin-right: 0; } }
    body #main aside {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 38.46154%;
      margin-right: 0; }
      body #main aside:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        body #main aside {
          float: left;
          display: block;
          margin-right: 3.22581%;
          width: 35.48387%; }
          body #main aside:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        body #main aside {
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 100%; }
          body #main aside:last-child {
            margin-right: 0; } }
      body #main aside img {
        width: 100%; }
      body #main aside p {
        word-wrap: break-word; }
    body #main form label {
      font-size: 12px; }
    body #main form span.helptext {
      font-size: 14px;
      line-height: 1.3em; }
    body #main form ul.errorlist {
      color: #a60000;
      background: #ffd5d5;
      border-radius: 0.1875em;
      padding: 5px 10px; }
    body #main table tr.current_user {
      background: #e0eaf8;
      -webkit-box-shadow: inset 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 18px 5px rgba(0, 0, 0, 0.75); }
    body #main table tr td, body #main table tr th {
      text-align: center;
      line-height: 1.1em; }
      body #main table tr td:first-child, body #main table tr td.left, body #main table tr th:first-child, body #main table tr th.left {
        text-align: left;
        padding-left: 10px; }
      body #main table tr td:last-child, body #main table tr td.right, body #main table tr th:last-child, body #main table tr th.right {
        text-align: right;
        padding-right: 10px; }
    @media screen and (max-width: 768px) {
      body #main .no-tablet {
        display: none; } }
    @media screen and (max-width: 480px) {
      body #main .no-mobile {
        display: none; } }
    body #main .center {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 58.97436%;
      margin-left: 20.51282%; }
      body #main .center:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        body #main .center {
          margin-left: 10.25641%;
          float: left;
          display: block;
          margin-right: 3.22581%;
          width: 74.19355%; }
          body #main .center:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        body #main .center {
          margin-left: 0%;
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 100%; }
          body #main .center:last-child {
            margin-right: 0; } }
    body #main .multi-title {
      display: block;
      line-height: 1.25em;
      text-rendering: optimizeLegibility;
      color: #333333;
      letter-spacing: -1.8px;
      font-size: 2.3em;
      font-weight: 300;
      margin: 5px 0 15px 0; }
      body #main .multi-title span {
        font-weight: 500; }

header {
  background-color: #333333;
  border-bottom: 1px solid #1a1a1a;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 45px;
  width: 100%;
  z-index: 999;
  line-height: 1em;
  margin: 0px 0px 15px 0px; }
  @media screen and (max-width: 480px) {
    header {
      margin: 0; } }
  header div.navigation-wrapper {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
    height: 45px; }
    header div.navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header div.navigation-wrapper #corporate {
      display: inline-block;
      height: 45px;
      padding-left: 15px;
      padding-right: 15px; }
      @media screen and (max-width: 480px) {
        header div.navigation-wrapper #corporate {
          padding-left: 8px;
          padding-right: 8px; } }
      header div.navigation-wrapper #corporate a {
        display: inline; }
      header div.navigation-wrapper #corporate #logo {
        float: left;
        max-height: 45px;
        padding: 5.625px 4.23px 5.625px 0;
        border: 0; }
      header div.navigation-wrapper #corporate #font {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 31.20827px;
        float: left;
        padding: 10.50188px 5.625px 11.25px 0px; }
        header div.navigation-wrapper #corporate #font #esti {
          font-weight: 200;
          color: #cab69a;
          letter-spacing: -0.07em;
          margin-right: 2.25px;
          float: left;
          line-height: 23.24813px; }
        header div.navigation-wrapper #corporate #font #mate {
          font-weight: 400;
          color: #f0e3cf;
          letter-spacing: -0.02em;
          float: left;
          line-height: 23.24813px; }
    header div.navigation-wrapper #username {
      display: inline-block;
      color: rgba(255, 255, 255, 0.7);
      float: right;
      line-height: 13px;
      height: 45px;
      padding: 9.5px 15px 9.5px 10px;
      font-size: 11px;
      border-left: 1px solid #646464; }
      @media screen and (max-width: 480px) {
        header div.navigation-wrapper #username {
          padding-left: 8px;
          padding-right: 8px;
          border-left: 0; } }
      header div.navigation-wrapper #username span {
        font-size: 16px;
        font-weight: 600;
        color: white; }
    header div.navigation-wrapper #naviToggle {
      display: none;
      color: rgba(255, 255, 255, 0.7);
      float: right;
      cursor: pointer;
      padding: 0px 8px; }
      header div.navigation-wrapper #naviToggle:hover {
        color: white; }
      header div.navigation-wrapper #naviToggle i {
        font-size: 1.5em;
        line-height: 45px; }
      @media screen and (max-width: 480px) {
        header div.navigation-wrapper #naviToggle {
          display: inline-block; } }
    header div.navigation-wrapper nav {
      display: inline-block;
      float: right;
      font-size: 16px;
      height: 45px; }
      @media screen and (max-width: 480px) {
        header div.navigation-wrapper nav.logged_in {
          width: 100%;
          top: -2px;
          position: relative;
          height: 0; } }
      header div.navigation-wrapper nav ul {
        display: inline-block;
        line-height: 45px;
        font-size: 16px; }
        @media screen and (max-width: 768px) {
          header div.navigation-wrapper nav ul {
            font-size: 15px; } }
        @media screen and (max-width: 480px) {
          header div.navigation-wrapper nav ul {
            font-size: 16px;
            padding-right: 0;
            clear: both;
            -webkit-transform-style: preserve-3d;
            margin: 0 auto;
            overflow: hidden;
            padding: 0;
            width: 100%;
            z-index: 9999; }
            header div.navigation-wrapper nav ul.logged_in {
              display: none; }
            header div.navigation-wrapper nav ul.logged_out {
              font-size: 14px; } }
        header div.navigation-wrapper nav ul li {
          float: left;
          padding-right: 20px;
          letter-spacing: -0.8px; }
          header div.navigation-wrapper nav ul li:last-child {
            padding-right: 10px; }
          header div.navigation-wrapper nav ul li a {
            color: rgba(255, 255, 255, 0.7);
            display: block; }
            header div.navigation-wrapper nav ul li a:hover {
              color: white; }
          header div.navigation-wrapper nav ul li .login-btn {
            line-height: 1em !important;
            margin-top: 7.5px;
            margin-bottom: 7.5px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            background: #477dca;
            border-radius: 0.1875em;
            color: white;
            padding: .4em .6em; }
            header div.navigation-wrapper nav ul li .login-btn:hover {
              background: #6f99d5; }
          @media screen and (max-width: 768px) {
            header div.navigation-wrapper nav ul li {
              letter-spacing: -1px;
              padding-right: 15px; }
              header div.navigation-wrapper nav ul li:last-child {
                padding-right: 10px; } }
        @media screen and (max-width: 480px) {
          header div.navigation-wrapper nav ul.logged_in li {
            background: #333333;
            display: block;
            line-height: 45px;
            overflow: hidden;
            text-align: right;
            width: 100%;
            z-index: 9999;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
            header div.navigation-wrapper nav ul.logged_in li:hover {
              background: #595959; } }

#account-settings div.join-date, #account-settings div.last-login, #account-settings div.pw-change {
  padding-bottom: 15px; }
#account-settings div.pw-change {
  display: none; }
#account-settings span.pw-change {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  cursor: pointer; }
  #account-settings span.pw-change:hover {
    color: #2c5999; }
  #account-settings span.pw-change:active, #account-settings span.pw-change:focus {
    color: #2c5999;
    outline: none; }

#challenge-score h2 {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 69.23077%; }
  #challenge-score h2:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #challenge-score h2 {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 58.97436%; }
      #challenge-score h2:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    #challenge-score h2 {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 69.23077%; }
      #challenge-score h2:last-child {
        margin-right: 0; } }
#challenge-score .challenge-highscore {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 28.20513%;
  margin-right: 0;
  text-align: right;
  font-weight: bold;
  padding: 12px 0 15px 0; }
  #challenge-score .challenge-highscore:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #challenge-score .challenge-highscore {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 38.46154%;
      font-weight: 500;
      letter-spacing: -1px; }
      #challenge-score .challenge-highscore:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    #challenge-score .challenge-highscore {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 28.20513%;
      margin-right: 0;
      font-weight: 400; }
      #challenge-score .challenge-highscore:last-child {
        margin-right: 0; } }
  #challenge-score .challenge-highscore a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #477dca;
    border-radius: 0.1875em;
    color: white;
    padding: .4em .6em; }
    #challenge-score .challenge-highscore a:hover {
      background: #6f99d5; }
#challenge-score p {
  display: inline-block; }
#challenge-score .score, #challenge-score .score-per-questions {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  text-align: center;
  margin-bottom: 20px; }
  #challenge-score .score:last-child, #challenge-score .score-per-questions:last-child {
    margin-right: 0; }
  #challenge-score .score .title, #challenge-score .score-per-questions .title {
    font-weight: bold;
    font-size: 12px;
    color: #646464;
    display: block;
    width: 100%; }
  #challenge-score .score .value, #challenge-score .score-per-questions .value {
    font-size: 40px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #333333; }
#challenge-score .score-per-questions {
  margin-right: 0; }
#challenge-score table td.own-question, #challenge-score table td.timed-out {
  color: #646464;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center; }

#challenge-list-all .grid-item {
  display: table-cell;
  width: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 140px;
  background: white;
  overflow: hidden;
  float: left;
  padding: 2em 1em 1em 1em;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
  text-align: center; }
  #challenge-list-all .grid-item:hover {
    background: rgba(51, 51, 51, 0.05); }
    #challenge-list-all .grid-item:hover .title {
      padding: 2em 0 1em 0;
      letter-spacing: -0.5px; }
  #challenge-list-all .grid-item.last-col {
    border-right: 0; }
  #challenge-list-all .grid-item.last-row {
    border-bottom: 0; }
  #challenge-list-all .grid-item .title {
    font-size: 24px;
    color: #333333;
    letter-spacing: -1.5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    @media screen and (max-width: 768px) {
      #challenge-list-all .grid-item .title {
        font-size: 20px; } }
  #challenge-list-all .grid-item .detail {
    font-size: 16px;
    color: #646464; }
    #challenge-list-all .grid-item .detail .progress-bar-indication {
      background-color: #f2f2f2;
      box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
      border-radius: 0.1875em;
      margin: 5px 0;
      height: 6px; }
      #challenge-list-all .grid-item .detail .progress-bar-indication > .meter {
        background-color: #477dca;
        border: 1px solid #2c5999;
        border-radius: 0.125em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: block;
        height: 100%;
        width: 60%; }
@media screen and (max-width: 480px) {
  #challenge-list-all aside {
    text-align: center; } }
#challenge-list-all aside #played-challenges, #challenge-list-all aside #own-challenges {
  margin-top: 15px; }
  #challenge-list-all aside #played-challenges ul li, #challenge-list-all aside #own-challenges ul li {
    margin-bottom: 5px; }
    #challenge-list-all aside #played-challenges ul li a, #challenge-list-all aside #own-challenges ul li a {
      padding: 5px;
      display: block; }
      #challenge-list-all aside #played-challenges ul li a span, #challenge-list-all aside #own-challenges ul li a span {
        display: block;
        line-height: 1em; }
      #challenge-list-all aside #played-challenges ul li a span.detail, #challenge-list-all aside #own-challenges ul li a span.detail {
        font-size: 14px;
        color: #646464; }
        #challenge-list-all aside #played-challenges ul li a span.detail:hover, #challenge-list-all aside #own-challenges ul li a span.detail:hover {
          color: #333333; }

#highscore div.score-list {
  margin-bottom: 30px; }
  #highscore div.score-list table.per-question, #highscore div.score-list table.best-question, #highscore div.score-list table.best_percentage_error {
    display: none; }
  #highscore div.score-list table tr th:first-child, #highscore div.score-list table tr td:first-child {
    width: 60px; }
#highscore aside .highscore-change {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  cursor: pointer; }
  #highscore aside .highscore-change:hover {
    color: #2c5999; }
  #highscore aside .highscore-change:active, #highscore aside .highscore-change:focus {
    color: #2c5999;
    outline: none; }
  #highscore aside .highscore-change.selected {
    color: #333333;
    cursor: default; }

#landing {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #landing:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #landing {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      margin-bottom: 10px; }
      #landing:last-child {
        margin-right: 0; } }

#register-login {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #register-login:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #register-login {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      #register-login:last-child {
        margin-right: 0; } }
  #register-login ul.accordion {
    margin-bottom: 1.5em;
    display: flex; }
    #register-login ul.accordion li {
      float: left;
      padding: 5px 0;
      float: left;
      display: block;
      margin-right: 5.26316%;
      width: 47.36842%; }
      #register-login ul.accordion li:last-child {
        margin-right: 0; }
      #register-login ul.accordion li.not-selected {
        color: #477dca;
        text-decoration: none;
        -webkit-transition: color 0.1s linear;
        -moz-transition: color 0.1s linear;
        transition: color 0.1s linear;
        cursor: pointer;
        border-bottom: 1px solid #dddddd; }
        #register-login ul.accordion li.not-selected:hover {
          color: #2c5999; }
        #register-login ul.accordion li.not-selected:active, #register-login ul.accordion li.not-selected:focus {
          color: #2c5999;
          outline: none; }
      #register-login ul.accordion li.selected {
        font-weight: bold;
        border-bottom: 1px solid #333333; }
      @media screen and (max-width: 480px) {
        #register-login ul.accordion li {
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 46.66667%; }
          #register-login ul.accordion li:last-child {
            margin-right: 0; } }
  #register-login span.helptext {
    display: none; }
  #register-login #login-form {
    display: none; }
    #register-login #login-form a.new-account {
      display: none; }

section.menu {
  padding: 20px 0; }
  @media screen and (max-width: 480px) {
    section.menu {
      padding: 10px 10px;
      text-align: center; } }
  section.menu .row .menu-btn {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 47.82609%; }
    section.menu .row .menu-btn:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      section.menu .row .menu-btn {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 46.66667%; }
        section.menu .row .menu-btn:last-child {
          margin-right: 0; } }
  section.menu .row .challenge_btn {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 0;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: -1px;
    padding: 0 20px; }
    section.menu .row .challenge_btn:hover {
      background: #e0eaf8;
      color: #22569d;
      font-weight: normal;
      letter-spacing: 1px;
      border-radius: 40px; }
      @media screen and (max-width: 480px) {
        section.menu .row .challenge_btn:hover {
          letter-spacing: 0; } }
    section.menu .row .challenge_btn div.wrapper {
      display: table;
      height: 100px;
      width: 100%; }
      section.menu .row .challenge_btn div.wrapper .cell {
        display: table-cell;
        vertical-align: middle; }
        section.menu .row .challenge_btn div.wrapper .cell i {
          display: block;
          font-size: 2.5em; }
        section.menu .row .challenge_btn div.wrapper .cell span {
          display: block;
          font-size: 15px;
          line-height: 15px; }
  section.menu .row .random_btn {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 0;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: -1px;
    padding: 0 20px; }
    section.menu .row .random_btn:hover {
      background: #fadbcf;
      color: #a03a11;
      font-weight: normal;
      letter-spacing: 1px;
      border-radius: 40px; }
      @media screen and (max-width: 480px) {
        section.menu .row .random_btn:hover {
          letter-spacing: 0; } }
    section.menu .row .random_btn div.wrapper {
      display: table;
      height: 100px;
      width: 100%; }
      section.menu .row .random_btn div.wrapper .cell {
        display: table-cell;
        vertical-align: middle; }
        section.menu .row .random_btn div.wrapper .cell i {
          display: block;
          font-size: 2.5em; }
        section.menu .row .random_btn div.wrapper .cell span {
          display: block;
          font-size: 15px;
          line-height: 15px; }
  section.menu .row .choose_btn {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 0;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: -1px;
    padding: 0 20px; }
    section.menu .row .choose_btn:hover {
      background: #f1f5d4;
      color: #838f22;
      font-weight: normal;
      letter-spacing: 1px;
      border-radius: 40px; }
      @media screen and (max-width: 480px) {
        section.menu .row .choose_btn:hover {
          letter-spacing: 0; } }
    section.menu .row .choose_btn div.wrapper {
      display: table;
      height: 100px;
      width: 100%; }
      section.menu .row .choose_btn div.wrapper .cell {
        display: table-cell;
        vertical-align: middle; }
        section.menu .row .choose_btn div.wrapper .cell i {
          display: block;
          font-size: 2.5em; }
        section.menu .row .choose_btn div.wrapper .cell span {
          display: block;
          font-size: 15px;
          line-height: 15px; }
  section.menu .row .create_btn {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 0;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: -1px;
    padding: 0 20px; }
    section.menu .row .create_btn:hover {
      background: #fdf2cf;
      color: #ab8409;
      font-weight: normal;
      letter-spacing: 1px;
      border-radius: 40px; }
      @media screen and (max-width: 480px) {
        section.menu .row .create_btn:hover {
          letter-spacing: 0; } }
    section.menu .row .create_btn div.wrapper {
      display: table;
      height: 100px;
      width: 100%; }
      section.menu .row .create_btn div.wrapper .cell {
        display: table-cell;
        vertical-align: middle; }
        section.menu .row .create_btn div.wrapper .cell i {
          display: block;
          font-size: 2.5em; }
        section.menu .row .create_btn div.wrapper .cell span {
          display: block;
          font-size: 15px;
          line-height: 15px; }

aside.menu {
  padding: 20px 0 0 20px; }
  @media screen and (max-width: 768px) {
    aside.menu {
      padding-left: 0; } }
  @media screen and (max-width: 480px) {
    aside.menu {
      padding: 0; } }
  aside.menu .short-stats {
    float: left;
    display: block;
    margin-right: 33.33333%;
    width: 100%;
    margin-bottom: 20px; }
    aside.menu .short-stats:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      aside.menu .short-stats {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 33.33333%;
        margin-left: 13.33333%;
        text-align: center; }
        aside.menu .short-stats:last-child {
          margin-right: 0; } }
    aside.menu .short-stats .score, aside.menu .short-stats .number {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 47.82609%;
      text-align: center; }
      aside.menu .short-stats .score:last-child, aside.menu .short-stats .number:last-child {
        margin-right: 0; }
      aside.menu .short-stats .score .title, aside.menu .short-stats .number .title {
        font-weight: bold;
        font-size: 12px;
        color: #646464;
        display: block;
        width: 100%; }
      aside.menu .short-stats .score .value, aside.menu .short-stats .number .value {
        font-size: 40px;
        font-weight: bold;
        display: block;
        width: 100%;
        color: #333333; }
      @media screen and (max-width: 480px) {
        aside.menu .short-stats .score, aside.menu .short-stats .number {
          float: left;
          display: block;
          margin-right: 33.33333%;
          width: 100%;
          margin-right: 0;
          margin-bottom: 15px; }
          aside.menu .short-stats .score:last-child, aside.menu .short-stats .number:last-child {
            margin-right: 0; } }
  aside.menu #statistics-menu {
    text-align: center;
    padding: 15px 0;
    float: left;
    display: block;
    margin-right: 33.33333%;
    width: 100%;
    margin-right: 0; }
    aside.menu #statistics-menu:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      aside.menu #statistics-menu {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 46.66667%;
        text-align: left; }
        aside.menu #statistics-menu:last-child {
          margin-right: 0; } }
    aside.menu #statistics-menu ul {
      display: inline-block;
      text-align: left;
      font-size: 18px; }

#question-create .title {
  display: flex; }
  #question-create .title h2 {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 69.23077%; }
    #question-create .title h2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #question-create .title h2 {
        float: left;
        display: block;
        margin-right: 2.5641%;
        width: 58.97436%; }
        #question-create .title h2:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      #question-create .title h2 {
        float: left;
        display: block;
        margin-right: 2.5641%;
        width: 69.23077%; }
        #question-create .title h2:last-child {
          margin-right: 0; } }
  #question-create .title .create-another {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 28.20513%;
    margin-right: 0;
    text-align: right;
    font-weight: bold;
    padding: 12px 0 15px 0; }
    #question-create .title .create-another:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #question-create .title .create-another {
        float: left;
        display: block;
        margin-right: 2.5641%;
        width: 38.46154%;
        font-weight: 500;
        letter-spacing: -1px; }
        #question-create .title .create-another:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      #question-create .title .create-another {
        float: left;
        display: block;
        margin-right: 2.5641%;
        width: 28.20513%;
        margin-right: 0;
        font-weight: 400; }
        #question-create .title .create-another:last-child {
          margin-right: 0; } }
    #question-create .title .create-another a {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #477dca;
      border-radius: 0.1875em;
      color: white;
      padding: .4em .6em; }
      #question-create .title .create-another a:hover {
        background: #6f99d5; }
#question-create form {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%; }
  #question-create form:last-child {
    margin-right: 0; }
  #question-create form p {
    display: inline-block;
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%; }
    #question-create form p:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #question-create form p {
        float: left;
        display: block;
        margin-right: 3.22581%;
        width: 100%; }
        #question-create form p:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      #question-create form p {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 100%; }
        #question-create form p:last-child {
          margin-right: 0; } }
    #question-create form p label, #question-create form p input, #question-create form p textarea {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 69.23077%;
      float: left; }
      #question-create form p label:last-child, #question-create form p input:last-child, #question-create form p textarea:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        #question-create form p label, #question-create form p input, #question-create form p textarea {
          float: left;
          display: block;
          margin-right: 3.22581%;
          width: 61.29032%; }
          #question-create form p label:last-child, #question-create form p input:last-child, #question-create form p textarea:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        #question-create form p label, #question-create form p input, #question-create form p textarea {
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 100%; }
          #question-create form p label:last-child, #question-create form p input:last-child, #question-create form p textarea:last-child {
            margin-right: 0; } }
    #question-create form p input, #question-create form p textarea {
      margin-bottom: 10px; }
    #question-create form p span.helptext {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 28.20513%;
      display: inline-block;
      float: left; }
      #question-create form p span.helptext:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        #question-create form p span.helptext {
          float: left;
          display: block;
          margin-right: 3.22581%;
          width: 35.48387%;
          font-size: 14px; }
          #question-create form p span.helptext:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        #question-create form p span.helptext {
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 100%;
          font-size: 12px; }
          #question-create form p span.helptext:last-child {
            margin-right: 0; } }
#question-create section.without-aside {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%; }
  #question-create section.without-aside:last-child {
    margin-right: 0; }

#question-score .score, #question-score .resolution {
  float: left;
  display: block;
  margin-right: 5.26316%;
  width: 47.36842%;
  text-align: center;
  margin-bottom: 20px; }
  #question-score .score:last-child, #question-score .resolution:last-child {
    margin-right: 0; }
  #question-score .score .title, #question-score .resolution .title {
    font-weight: bold;
    font-size: 12px;
    color: #646464;
    display: block;
    width: 100%; }
  #question-score .score .value, #question-score .resolution .value {
    font-size: 40px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #333333; }
  @media screen and (max-width: 480px) {
    #question-score .score, #question-score .resolution {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 46.66667%; }
      #question-score .score:last-child, #question-score .resolution:last-child {
        margin-right: 0; } }
#question-score .score {
  margin-right: 0; }
#question-score #show_btn {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  cursor: pointer;
  float: left;
  display: block;
  margin-right: 5.26316%;
  width: 47.36842%;
  text-align: center;
  line-height: 60px; }
  #question-score #show_btn:hover {
    color: #2c5999; }
  #question-score #show_btn:active, #question-score #show_btn:focus {
    color: #2c5999;
    outline: none; }
  #question-score #show_btn:last-child {
    margin-right: 0; }
#question-score #show_resolution {
  float: left;
  display: block;
  margin-right: 5.26316%;
  width: 47.36842%;
  text-align: center;
  margin-bottom: 20px;
  display: none; }
  #question-score #show_resolution:last-child {
    margin-right: 0; }
  #question-score #show_resolution .title {
    font-weight: bold;
    font-size: 12px;
    color: #646464;
    display: block;
    width: 100%; }
  #question-score #show_resolution .value {
    font-size: 40px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #333333; }
#question-score .resolution .value.small, #question-score .show_resolution .value.small, #question-score #show_resolution .value.small {
  letter-spacing: -1.5px;
  font-size: 35px; }
#question-score .resolution .value.smaller, #question-score .show_resolution .value.smaller, #question-score #show_resolution .value.smaller {
  letter-spacing: -2px;
  font-size: 30px; }
#question-score .resolution .value.tiny, #question-score .show_resolution .value.tiny, #question-score #show_resolution .value.tiny {
  letter-spacing: -2px;
  font-size: 25px; }
#question-score .resolution .value.really-tiny, #question-score .show_resolution .value.really-tiny, #question-score #show_resolution .value.really-tiny {
  letter-spacing: -2px;
  font-size: 20px; }
#question-score .timed_out {
  text-align: center; }
  #question-score .timed_out .icon {
    color: rgba(51, 51, 51, 0.5); }
#question-score table.timed_out {
  display: none; }
#question-score .top-right {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 17.94872%;
  margin-right: 0; }
  #question-score .top-right:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #question-score .top-right {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 28.20513%; }
      #question-score .top-right:last-child {
        margin-right: 0; } }
  #question-score .top-right .next-random-btn {
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #477dca;
    border-radius: 0.1875em;
    color: white;
    padding: .4em .6em;
    float: right; }
    #question-score .top-right .next-random-btn:hover {
      background: #6f99d5; }
    #question-score .top-right .next-random-btn i {
      display: inline-block;
      font-size: 1.7em; }
    #question-score .top-right .next-random-btn .label {
      display: inline-block;
      font-weight: bold; }
      #question-score .top-right .next-random-btn .label span {
        font-size: 14px;
        display: block;
        line-height: 12px; }
#question-score h2 {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 79.48718%; }
  #question-score h2:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #question-score h2 {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 69.23077%; }
      #question-score h2:last-child {
        margin-right: 0; } }
#question-score .question-stats-btn {
  text-align: center;
  display: block;
  margin: 5px 0 15px 0; }
@media screen and (max-width: 768px) {
  #question-score section {
    margin-bottom: 15px;
    text-align: center;
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%; }
    #question-score section:last-child {
      margin-right: 0; } }
#question-score section.result h3 {
  display: inline-block;
  text-align: center;
  width: 100%; }
@media screen and (max-width: 768px) {
  #question-score aside {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%; }
    #question-score aside:last-child {
      margin-right: 0; } }

#question-show section {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #question-show section:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #question-show section {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      #question-show section:last-child {
        margin-right: 0; } }
  #question-show section.without-aside {
    margin-left: 10.25641%;
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 79.48718%; }
    #question-show section.without-aside:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #question-show section.without-aside {
        float: left;
        display: block;
        margin-right: 3.22581%;
        width: 100%;
        margin-left: 0%; }
        #question-show section.without-aside:last-child {
          margin-right: 0; } }
  #question-show section h2 {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 79.48718%; }
    #question-show section h2:last-child {
      margin-right: 0; }
  #question-show section #countdown {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 17.94872%;
    float: right;
    margin-right: 0;
    margin: 15px 0 15px 0;
    text-align: center; }
    #question-show section #countdown:last-child {
      margin-right: 0; }
  #question-show section p {
    float: left;
    display: block;
    margin-right: 33.33333%;
    width: 100%;
    margin-bottom: 15px; }
    #question-show section p:last-child {
      margin-right: 0; }
  #question-show section small#unit {
    float: left;
    display: block;
    margin-right: 33.33333%;
    width: 100%; }
    #question-show section small#unit:last-child {
      margin-right: 0; }
  #question-show section form {
    float: left;
    display: block;
    margin-right: 33.33333%;
    width: 100%; }
    #question-show section form:last-child {
      margin-right: 0; }
    #question-show section form input#id_estimate {
      float: left;
      display: block;
      margin-right: 2.85714%;
      width: 65.71429%; }
      #question-show section form input#id_estimate:last-child {
        margin-right: 0; }
      @media screen and (max-width: 480px) {
        #question-show section form input#id_estimate {
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 100%; }
          #question-show section form input#id_estimate:last-child {
            margin-right: 0; } }
    #question-show section form input[type=submit] {
      float: left;
      display: block;
      margin-right: 2.85714%;
      width: 31.42857%;
      padding: 0.5em 0.5em; }
      #question-show section form input[type=submit]:last-child {
        margin-right: 0; }
      @media screen and (max-width: 480px) {
        #question-show section form input[type=submit] {
          float: left;
          display: block;
          margin-right: 6.66667%;
          width: 100%;
          margin-bottom: 15px; }
          #question-show section form input[type=submit]:last-child {
            margin-right: 0; } }
    #question-show section form .error {
      height: 40px; }
      #question-show section form .error .errorlist {
        display: none; }
#question-show aside {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  margin-left: 0%; }
  #question-show aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #question-show aside {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      #question-show aside:last-child {
        margin-right: 0; } }
  #question-show aside img {
    width: 100%; }

#questions-list-all .full {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%;
  margin-bottom: 20px; }
  #questions-list-all .full:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #questions-list-all .full {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      text-align: center; }
      #questions-list-all .full:last-child {
        margin-right: 0; } }
#questions-list-all .half {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #questions-list-all .half:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #questions-list-all .half {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      margin-bottom: 15px;
      text-align: center; }
      #questions-list-all .half:last-child {
        margin-right: 0; } }

#register_done a.go {
  text-align: center;
  font-size: 20px;
  letter-spacing: -1px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #477dca;
  border-radius: 0.1875em;
  color: white;
  padding: .4em .6em; }
  #register_done a.go:hover {
    background: #6f99d5; }

#statistics-all .error {
  float: left;
  display: block;
  margin-right: 3.22581%;
  width: 48.3871%;
  margin-right: 0;
  text-align: center;
  margin-bottom: 30px; }
  #statistics-all .error:last-child {
    margin-right: 0; }
  #statistics-all .error .title {
    font-weight: bold;
    font-size: 12px;
    color: #646464;
    display: block;
    width: 100%; }
  #statistics-all .error .value {
    font-size: 40px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #333333; }
  @media screen and (max-width: 480px) {
    #statistics-all .error {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%; }
      #statistics-all .error:last-child {
        margin-right: 0; } }
#statistics-all table td a.best {
  display: block; }

#statistics-question .resolution {
  float: left;
  display: block;
  margin-right: 33.33333%;
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }
  #statistics-question .resolution:last-child {
    margin-right: 0; }
  #statistics-question .resolution .title {
    font-weight: bold;
    font-size: 12px;
    color: #646464;
    display: block;
    width: 100%; }
  #statistics-question .resolution .value {
    font-size: 40px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #333333; }
#statistics-question .avg_estimate, #statistics-question .avg_error {
  float: left;
  display: block;
  margin-right: 5.26316%;
  width: 47.36842%;
  text-align: center;
  margin-bottom: 20px; }
  #statistics-question .avg_estimate:last-child, #statistics-question .avg_error:last-child {
    margin-right: 0; }
  #statistics-question .avg_estimate .title, #statistics-question .avg_error .title {
    font-weight: bold;
    font-size: 12px;
    color: #646464;
    display: block;
    width: 100%; }
  #statistics-question .avg_estimate .value, #statistics-question .avg_error .value {
    font-size: 40px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #333333; }
#statistics-question .avg_error {
  margin-right: 0; }
#statistics-question .resolution .value.small, #statistics-question .avg_estimate .value.small, #statistics-question .avg_error .value.small {
  letter-spacing: -1.5px;
  font-size: 35px; }
#statistics-question .resolution .value.smaller, #statistics-question .avg_estimate .value.smaller, #statistics-question .avg_error .value.smaller {
  letter-spacing: -2px;
  font-size: 30px; }
#statistics-question .resolution .value.tiny, #statistics-question .avg_estimate .value.tiny, #statistics-question .avg_error .value.tiny {
  letter-spacing: -2px;
  font-size: 25px; }
#statistics-question .resolution .value.really-tiny, #statistics-question .avg_estimate .value.really-tiny, #statistics-question .avg_error .value.really-tiny {
  letter-spacing: -2px;
  font-size: 20px; }

#statistics-user div.stats {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 69.23077%;
  margin-left: 15.38462%;
  margin-bottom: 30px; }
  #statistics-user div.stats:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    #statistics-user div.stats {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      #statistics-user div.stats:last-child {
        margin-right: 0; } }
  #statistics-user div.stats table td.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -1px; }
  #statistics-user div.stats table td.value {
    font-size: 18px;
    line-height: 18px; }
#statistics-user table.estimates {
  margin-bottom: 30px; }
  #statistics-user table.estimates td.timed-out {
    color: #646464;
    font-style: italic;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center; }

#login a.new-account {
  margin-left: 15px; }
