<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}esti|mate{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:site_name" content="esti|mate"/>
        <meta property="og:title" content="esti|mate - Schätz doch mal."/>
        <meta property="og:description" content="Estimate fordert dich heraus! Wie gut bist du im Schätzen? Gib deine Schätzungen zu spannenden, interessanten und lustigen Fragen ab. Finde heraus, wie gut du im Vergleich zu anderen Spielern bist. Beantworte zufällige Fragen, spiele Challenges oder such dir Fragen aus der Sammlung heraus. Du kannst den anderen estiMATES sogar auch selber Fragen stellen. Mach mit, Schätzen macht Spaß!"/>


        <meta property="og:image" content="{{ STATIC_URL }}img/og-image-large.png">
        <link rel="image_src" href="{{ STATIC_URL }}img/og-image-large.png" />

        <meta property="og:url" content="http://esti-mate.de/">
        <meta property="og:type" content="website"/>

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/estimate-logo-farbe.png"/>  

        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
        <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet" />
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
	<body>
	    <!--[if lt IE 7]>
	        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->

	    
		{% block stage %}
		<div id="stage">

			{% block navigation %}
				{% include "questions/navigation.html" %}
			{% endblock %}

			<div id="main">
			    {% block content %}{% endblock %}
			<!-- / #main -->
			</div>

		</div>
		{% endblock %}

		{% block footer %}
			{% include "questions/footer.html" %}
		{% endblock %}

	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	    <script src="{{ STATIC_URL }}js/vendor/lightbox.min.js"></script>
	    <script src="{{ STATIC_URL }}js/plugins.js"></script>
	    <script src="{{ STATIC_URL }}js/main.js"></script>

	    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	    <script>
	        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	        e.src='//www.google-analytics.com/analytics.js';
	        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	        ga('create','UA-XXXXX-X');ga('send','pageview');
	    </script>
	</body>
</html>
