// CHALLENGE SCORE PAGE 
// - - - - - - - - - - - - - - - - - - - - - - - - 
#challenge-score {
	h2 {
		@include span-columns(7 of 10);

		@include media($tablet) {
			@include span-columns(6 of 10);
		}

		@include media($mobile) {
			@include span-columns(7 of 10);
		}
	}

	.challenge-highscore {
		@include span-columns(3 of 10);
		@include omega;
		text-align: right;
		font-weight: bold;
		padding: 12px 0 15px 0;	

		@include media($tablet) {
			@include span-columns(4 of 10);
			font-weight: 500;
			letter-spacing: -1px;
		}

		@include media($mobile) {
			@include span-columns(3 of 10);
			@include omega;
			font-weight: 400;
		}

		a {
			@include btn($base-accent-color);		
		}
	}

	p {
		display: inline-block;
	}

	.score, .score-per-questions {
		@include span-columns(5 of 10);
		@include number($base-font-color);
		margin-bottom: 20px;
	}

	.score-per-questions {
		@include omega;
	}

	table {
		td.own-question, td.timed-out {
			color: $grey-text;
			font-style:italic;
			font-size: 13px;
			letter-spacing: 1px;
			text-align: center;
		}
	}
}