#groups-list {

	.new-group {
		text-align: center;
		font-weight: bold;
		padding: 12px 0 15px 0;	
		width: 200px;
		@include btn(#68a24f);
		margin: auto;

		@include media($mobile) {
			width: 100%;
		}
	}

	.accept {
		float:right;
	}

	.notice {
		.accept-small, .deny-small {
			float:right;
		}
	}

}