#group-show {

	h2 {
		@include span-columns(8 of 10);
		@include media ($tablet) {
			@include span-columns(7 of 10);
		}
	}

	.multi-title {
		&.full {
			@include span-columns(8 of 10);
			@include media ($tablet) {
				@include span-columns(7 of 10);
				@include omega();
			}
			float: left;
		}
		&.center {
			width:100%;
		}
	}

	#modal-group-invite .modal-label, .center .join-group {
		text-align: center;
		font-weight: bold;
		padding: 12px 0 15px 0;	
		width: 200px;
		@include btn(#68a24f);
		margin: 20px auto;

		@include media($mobile) {
			width: 100%;
		}

		a {
			color: white;
		}
	}

	.center {
		.leave-group {
			color: $error-red !important;
			width: 100%;
			text-align: center;
			//font-size: 14px;
			//padding: 10px 0;
			//display: inline-block;

			a {
				color: $error-red !important;
			}
		}
	}

	.top-right {
		.join-group {
			margin: 5px 0;
			display: inline-block;
			@include btn($base-accent-color);
			font-weight: bold;
		}

		.leave-group {
			color: $error-red;
			font-size: 14px;
			padding: 10px 0;
			display: inline-block;
		}
	}

	div.score-list {
		margin-bottom: 30px;
		
		table {

			&.per-question, &.best-question, &.best_percentage_error {
				display: none;
			}

			tr {
				th:first-child, td:first-child {
					width: 60px;
				}
			}
		}
	}

	aside {

		.highscore-change {
			@include link-like;

			&.selected {
				color: #333333;
				cursor: default;
			}
		}
	}

	.accept {
		float:right;
	}

	.modal {
		#select-invitee {
			width: 100%;
			font-size: 18px;
		}
	}

}