#highscore {

	div.score-list {
		margin-bottom: 30px;
		
		table {

			&.per-question, &.best-question {
				display: none;
			}

			tr {
				th:first-child, td:first-child {
					width: 60px;
				}
			}
		}
	}

	aside {

		.highscore-change {
			@include link-like;

			&.selected {
				color: #333333;
				cursor: default;
			}
		}
	}
}