// LANDING PAGE 
// - - - - - - - - - - - - - - - - - - - - - - - - 
#landing-stage {
	@include outer-container;
	padding-top: 50px;

	@include media ($tablet) {
		padding: 15px;
	}

	@include media ($mobile) {
		padding: 10px;
	}

	#landing {
		@include span-columns(5);
		@include media($mobile) {
			@include span-columns(4);
			margin-bottom: 10px;
		}

		h2 {
			color: $light-coffee;
			margin: 10px 0 15px 0;
			letter-spacing: -1.8px;
			font-size: 2.7em;
			display: block;
			font-weight: 400;
		}

		h3 {
			color: transparentize(white, 0.3);
			margin: 20px 0 35px 0;
			letter-spacing: -1.8px;
			font-size: 1.8em;
			display: block;
			font-weight: 300;
			line-height: 0.85em;
		}

		p {
			color: white;
			line-height: 1.2em;
		}
	}

	// REGISTER / LOGIN PART ON LANDING PAGE
	#register {
		@include span-columns(5);
		@include media($mobile) {
			@include span-columns(4);
		}

		h3 {
			color: transparentize(white, 0.3);
			margin: 20px 0 35px 0;
			letter-spacing: -1.8px;
			font-size: 1.8em;
			display: block;
			font-weight: 300;
			line-height: 0.85em;
		}

		p {
			color: white;
			line-height: 1.2em;
		}

		span.helptext {
			display: none;
		}

		#register-form {
			label {
				color: transparentize(white, 0.3);
				font-weight: normal;
				font-size: 14px;
			}

			input[type="text"], input[type="password"] {
				background: transparentize(white, 0.9);
				color: white;
				border: 1px solid transparentize(white, 0.3);
			}

			input[type="submit"] {
				@include button(simple, #68a24f);
			}
		}

	}
}