// LANDING PAGE 
// - - - - - - - - - - - - - - - - - - - - - - - - 
#landing-stage {

	text-align: center;

	@include span-columns(7 of 10);
	@include shift(1.5);

	@include media($tablet) {
		@include span-columns(5 of 6);
		@include shift(0.5);
	}

	@include media($mobile) {
		@include span-columns(4 of 4);
		@include shift(0);
	}

	.start-demo-btn {
		@include span-columns(4 of 6);
		@include shift(1);

		@include media($mobile) {
			@include span-columns(4 of 4);
			@include shift(0);
		}

		@include btn(#68a24f);
		border: 0;
		box-shadow: none;
		text-shadow: none;
		padding: 10px 0;
		margin-bottom: 20px;
		text-align: center;
		font-weight: 600;
		font-size: 20px;
		display:block;
	}

	p {
		@include span-columns(6 of 6);
	}

	.features-list {
		margin-top: 10px !important;

		.name {
			font-size: 15px;
		}
	}
}