// MAIN MENU 
// - - - - - - - - - - - - - - - - - - - - - - - - 
section.menu_old {
	padding: 20px 0;

	@include media($mobile) {
		padding: 0px 10px;
		text-align:center;
	}

	.row {

		.menu-btn {
			@include span-columns(3 of 6);
			@include media($mobile) {
				@include span-columns(2 of 4);
			}
		}
		
		.challenge_btn {
			//@include menu-btn($base-accent-color, 100px);
			@include menu-btn(#988c7d, #b6ceef, 100px);
		}
		.random_btn {
			//@include menu-btn(#dd480d, 100px);
			@include menu-btn(#988c7d, #f5b9a1, 100px);
		}
		.choose_btn {
			//@include menu-btn(#aabb2f, 100px);
			@include menu-btn(#988c7d, #e4ebab, 100px);
		}
		.create_btn {
			//@include menu-btn(#efb600, 100px);
			@include menu-btn(#988c7d, #fae49f, 100px);
		}
	}

	p.invites {
		text-align: center;
	}

}

aside.menu_old {
	padding: 20px 0 0 20px;

	@include media($tablet) {
		padding-left: 0;
	}

	@include media($mobile) {
		padding: 0;
	}

	.short-stats {
		@include span-columns(1 of 1);
		margin-bottom: 20px;


		@include media($mobile) {
			@include span-columns(3 of 4);
			@include shift(0.5 of 4);
			text-align: center;
			border-top: 1px solid #E0E0E0;
			border-bottom: 1px solid #E0E0E0;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.score, .number {
			@include span-columns(3 of 6);
			@include number($dark-gray);

			@include media($mobile) {
				@include span-columns(1 of 2);
				margin-bottom: 15px;
			}
		}
	}

	h4 {
		text-align: center;
	}

	#statistics-menu, #highscores-menu {
		text-align: center;
		padding: 0 0 15px 0;
		@include span-columns(1 of 1);
		@include omega;

		@include media($mobile) {
			@include span-columns(2 of 4);
			//text-align: left;
		}

		ul {
			display: inline-block;
			//text-align: left;
			font-size: 16px;
			@include media($mobile) {
				font-size: 16px;
				//text-align: center;
			}
		}
	}

}