// MAIN MENU 
// - - - - - - - - - - - - - - - - - - - - - - - - 
.menu {

	.menu-stage {
		padding: 20px 0 0 0;
		@include span-columns(10 of 10);

		@include media($mobile) {
			@include span-columns(4 of 4);
			@include shift(0);
			padding: 30px 10px 0 10px;
			text-align:center;
		}


		.menu-btn {
			width: 300px;
			border: 0;
			box-shadow: none;
			text-shadow: none;
			margin: 0 auto 30px auto;
			text-align: center;
			font-weight: 500;
			font-size: 20px;
			letter-spacing: -1px;
			padding: 0px !important;
			display: table;

			i {
				border-right: 2px solid transparentize(white, 0.7);
				font-size: 22px;
				padding: 12px 14px 10px 15px !important;
				display: table-cell;
				width: 25px;
			}

			@include media($mobile) {
				@include span-columns(4 of 4);
				@include shift(0);
				font-size: 18px;
				margin-bottom: 20px;
			}

			span {
				vertical-align: middle;
				display: table-cell;
				text-align: center;
				padding: 10px 30px 10px 10px;
				width: 100%;
			}
			
			&.play-btn {
				@include btn(#68a24f);
			}
			&.highscore-btn {
				@include btn($base-accent-color);
			}
			&.statistics-btn {
				@include btn(#7D4792);
			}
			&.send-question-btn {
				@include btn(#de5c00);
			}
		}


		.short-stats {
			width: 300px;
			margin: auto;

			@include media($tablet) {
				padding-left: 0;
			}

			@include media($mobile) {
				@include span-columns(4 of 4);
				padding: 10px 0 0 0;
			}

			.stat-elem {
				@include span-columns(1 of 2);
				@include number($dark-gray);
				margin-bottom: 30px;
			}
		}


		p.invites {
			text-align: center;
			margin: 0 0 25px 0;
			line-height: 1em;
		}


		.game-mode {
			font-size: 20px;
			padding: 0 0 0 10px !important;
			display: table;
			width: 250px;
			margin: 0 auto 10px auto;
			color: $dark-gray;
			border: 0;
			@include transition (all 0.2s ease-in-out);

			&:hover {
				color: black;
			}

			i {
				border-right: 2px solid transparentize(white, 0.7);
				font-size: 28px;
				padding: 12px 14px 10px 15px !important;
				display: table-cell;
				width: 25px;
			}

			span {
				vertical-align: middle;
				display: table-cell;
				text-align: left;
				width: 100%;
				font-weight: 300;
			}
		}

	}

}
