// QUESTION PAGE 
// - - - - - - - - - - - - - - - - - - - - - - - - 
#question-show {
	section {
		@include span-columns(5 of 10);

		@include media($mobile) {
			@include span-columns(4);
			@include shift(0);
		}

		&.without-aside {
			@include shift(1 of 10);
			@include span-columns(8 of 10);

			@include media($tablet) {
				@include span-columns(8 of 8);
				@include shift(0);
			}
		}

		h2 {
			@include span-columns(8 of 10);
		}

		#countdown {
			@include span-columns(2 of 10);
			float: right;
			@include omega;
			margin: 15px 0 15px 0;
			text-align: center;
		}

		p {
			@include span-columns(1 of 1);
			margin-bottom: 15px;
		}

		small#unit {
			@include span-columns(1 of 1);
		}

		form {
			@include span-columns(1 of 1);

			input#id_estimate {
				@include span-columns(6 of 9);

				@include media($mobile) {
					@include span-columns(4 of 4);
				}
			}

			input[type=submit] {
				@include span-columns(3 of 9);
				padding: 0.5em 0.5em;

				@include media($mobile) {
					@include span-columns(4 of 4);
					margin-bottom: 15px;
				}
			}
		}
	}

	aside {
		@include span-columns(5 of 10);
		@include shift(0);

		@include media($mobile) {
			@include span-columns(4 of 4);
			@include shift(0);
		}

		img {
			width: 100%;
		}
	}
}