// QUESTION SCORE PAGE 
// - - - - - - - - - - - - - - - - - - - - - - - - 
#question-score-challenge {

	.score {
		@include span-columns(5 of 5);
		@include big-number($base-font-color);
	}

	.progress-bar-indication {
		$progress-border: 1px solid $base-border-color;
		$progress-meter-border: 1px solid darken($base-accent-color, 15%);
		$progress-meter-color: $base-accent-color;
		$progress-background: darken($base-body-color, 5);

		background-color: $progress-background;
		//border: $progress-border;
		box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
		border-radius: $base-border-radius;
		margin: 5px 0;
		height: 6px;

		> .meter {
			background-color: $progress-meter-color;
			border: $progress-meter-border;
			border-radius: $base-border-radius /1.5;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			display: block;
			height: 100%;
			width: 60%;
		}

	}

	#show_btn {
		@include link-like;
		@include span-columns(5 of 5);
		text-align:center;
		line-height: 60px;
	}

	#show_resolution {
		@include span-columns(5 of 5);
		@include number($base-font-color);
		margin-bottom: 20px;
		display:none;
	}

	.resolution, .show_resolution, #show_resolution {
		.value {
			&.small {
				letter-spacing: -1.5px;
				font-size: 35px;
			}

			&.smaller {
				letter-spacing: -2px;
				font-size: 30px;
			}
			&.tiny {
				letter-spacing: -2px;
				font-size: 25px;
			}
			&.really-tiny {
				letter-spacing: -2px;
				font-size: 20px;
			}
		}
	}

	div.timed_out {
		text-align: center;
		.icon {
			color: transparentize($base-font-color, 0.5);
		}
	}

	table.timed_out, .explanation.timed_out {
		display: none;
	}

	.explanation {
		display: inline-block;
		width: 100%;
	}

	.top-right {
		float: right !important;
		
		@include span-columns(2 of 10);
		@include omega;

		@include media ($tablet) {
			@include span-columns(3 of 10);
		}

		.top-right-btn {
			text-align:center;

			&.stats-btn {
				@include btn(#7D4792);
			}
			&.next-btn {
				@include btn(#68A24F);
			}

			float: right;

			i {
				display: inline-block;
				font-size: 1.7em;
			}

			.label {
				display: inline-block;
				font-weight: bold;
				span {
					font-size: 14px;
					display:block;
					line-height: 18px;
					float: left;
				}
			}
		}
	}

	h2 {
		@include span-columns(8 of 10);
		@include media ($tablet) {
			@include span-columns(7 of 10);
		}
	}

	.stats-feedback {
		text-align: center;
		display: block;
		margin: 5px 0 15px 0;

		.question-stats-btn {
			@include span-columns(1 of 2);
		}

		.question-feedback-btn {
			@include span-columns(1 of 2);
			@include omega();
			color: #477dca;
			@include transition (all 0.1s ease-in-out);
			font-weight: 400;

			&:hover {
				color: darken(#477dca, 15);
			}
		}
	}

	section {

		@include media($tablet) {
			margin-bottom: 15px;
			text-align: center;
			@include span-columns(8 of 8);
		}

		h3 {
			display: inline-block;
			text-align: center;
			width: 100%;
		}
	}

	aside {
		@include media($tablet) {
			@include span-columns(8 of 8);
		}

		small.img-zoom {
			display: block;
			text-align: center;
		}
	}
}