// CREATE QUESTION PAGE 
// - - - - - - - - - - - - - - - - - - - - - - - - 
#question-create {
	.title {
		display: flex;

		h2 {
			@include span-columns(7 of 10);

			@include media($tablet) {
				@include span-columns(6 of 10);
			}

			@include media($mobile) {
				@include span-columns(7 of 10);
			}
		}

		.create-another {
			@include span-columns(3 of 10);
			@include omega;
			text-align: right;
			font-weight: bold;
			padding: 12px 0 15px 0;	

			@include media($tablet) {
				@include span-columns(4 of 10);
				font-weight: 500;
				letter-spacing: -1px;
			}

			@include media($mobile) {
				@include span-columns(3 of 10);
				@include omega;
				font-weight: 400;
			}

			a {
				@include btn($base-accent-color);		
			}
		}
	}

	form {
		@include span-columns(10);

		p {
			display: inline-block;
			@include span-columns(10);

			@include media($tablet) {
				@include span-columns(8);
			}
			@include media($mobile) {
				@include span-columns(4);
			}

			label, input, textarea {
				@include span-columns(7 of 10);
				float: left;

				@include media($tablet) {
					@include span-columns(5 of 8);
				}
				@include media($mobile) {
					@include span-columns(4 of 4);
				}
			}

			input, textarea {
				margin-bottom: 10px;
			}

			span.helptext {
				@include span-columns(3 of 10);
				display: inline-block;
				float: left;

				@include media($tablet) {
					@include span-columns(3 of 8);
					font-size: 14px;
				}

				@include media($mobile) {
					@include span-columns(4 of 4);
					font-size: 12px;
				}
			}
		}
	}

	section.without-aside {
		@include span-columns(10 of 10);
	}
}