#statistics-question {

	.resolution {
		@include span-columns(1 of 1);
		@include number($base-font-color);
		margin-bottom: 20px;
	}

	.avg_estimate, .avg_error {
		@include span-columns(2.5 of 5);
		@include number($base-font-color);
		margin-bottom: 20px;
	}

	.avg_error {
		@include omega;
	}

	.resolution, .avg_estimate, .avg_error {
		.value {
			&.small {
				letter-spacing: -1.5px;
				font-size: 35px;
			}

			&.smaller {
				letter-spacing: -2px;
				font-size: 30px;
			}
			&.tiny {
				letter-spacing: -2px;
				font-size: 25px;
			}
			&.really-tiny {
				letter-spacing: -2px;
				font-size: 20px;
			}
		}
	}

}