$error-red: #a60000;
$error-background: #ffd5d5;

$badge-background: $medium-gray;
$badge-font-color: #fff;
$badge-font-size: $base-font-size * .75;
$badge-notice-color: $light-coffee;

html, body {
	height: 100%;
	min-height: 100%;
	background: $dark-gray;

	#stage {
		min-height: 85%;
		background: white;
		padding-bottom: 15px;
	}
}

body {
	margin: 0;

	.badge {
	    background: $badge-background;
	    border-radius: 2em;
	    color: $badge-font-color;
	    font-size: $badge-font-size;
	    font-weight: 600;
	    line-height: 1;
	    padding: .25em 1em;
	    text-align: center;

	    &.notice {
	      background: $badge-notice-color;
	      color: $dark-gray;
	    }

	    &.success {
	      background: $success-color;
	      color: $dark-gray;
	    }
	}

	.divider {
		background-color: transparentize(white, 0.8);
		height: 1px;
		margin: 20px 0px;
	}

	#main {

		@include outer-container;
		position: relative;
		padding: 15px;

		@include media ($mobile) {
			padding: 10px;
		}

		h1 {
			margin: 5px 0 15px 0;
			letter-spacing: -2px;
			display: block;
			font-size: 2.5em;
			font-weight: 200;
		}
		h2 {
			margin: 5px 0 15px 0;
			letter-spacing: -1.8px;
			font-size: 2.3em;
			display: block;
			font-weight: 300;
		}
		h3 {
			margin: 5px 0 10px 0;
			text-transform: uppercase;
			font-size: 23px;
			letter-spacing: -1.3px;
			display: block;
			font-weight: 300;
		}
		h4 {
			margin: 3px 0 10px 0;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: -1px;
			display: block;
			font-weight: 300;
		}

		p {
			@include media ($mobile) {
				line-height: 1.3em;
			}
		}

		section {
			padding-bottom: 15px;
			@include span-columns(6 of 10);

			@include media($tablet) {
				@include span-columns(5 of 8);
			}

			@include media($mobile) {
				@include span-columns(4 of 4);
			}
		}

		aside {
			@include span-columns(4 of 10);
			@include omega;
			
			@include media($tablet) {
				@include span-columns(3 of 8);
			}

			@include media($mobile) {
				@include span-columns(4 of 4);
			}

			img {
				width: 100%;
			}

			p {
				word-wrap: break-word;
			}

			small {
				line-height: 1em;
			}
		}

		form {


			label {
				font-size: 12px;
			}

			span.helptext {
				font-size: 14px;
				line-height: 1.3em;
			}

			ul.errorlist {
				color: $error-red;
				background: $error-background;
				border-radius: $base-border-radius; 
				padding: 5px 10px;
			}
		}

		table {

			tr {

				&.current_user {
					background: lighten(#b6ceef, 10);
				}

				td, th {
					text-align: center;
					line-height: 1.1em;

					&:first-child, &.left {
						text-align: left;
						padding-left: 10px;
					}

					&:last-child, &.right {
						text-align: right;
						padding-right: 10px;
					}
				}
			}
		}

		.notice {
			background: $success-color;
			padding: 15px;
			border-radius: 15px;
			line-height: 1em;
			margin-bottom: 15px;

			ul {
				padding: 10px 0 0px 20px;

				i {
					&.fa {
						margin-left: 5px;
					}

					&.response {
						font-size: 16px;
					}

					font-size: 12px;
				}
			}
		}

		.deny, .deny-small {
			display: inline;
			color: $error-red;
		}

		.accept, .accept-small {
			display: inline;
			color: darken($success-color, 55);
		}

		.no-tablet {
			@include media($tablet) {
				display: none;
			}
		}

		.no-mobile {
			@include media($mobile) {
				display: none;
			}
		}

		.new-line {
			display: inline-block;
		}

		.center {
			@include span-columns(6);
			@include shift(2);

			@include media($tablet) {
				@include shift(1);
				@include span-columns(6);
			}

			@include media($mobile) {
				@include shift(0);
				@include span-columns(4);
			}
		}

		.multi-title {
			display: block;
			line-height: 1.25em;
			text-rendering: optimizeLegibility;
			color: $dark-gray;
			letter-spacing: -1.8px;
			font-size: 2.3em;
			font-weight: 300;
			margin: 5px 0 15px 0;

			span {
				font-weight: 500;
			}
		}

		.top-right {
			@include span-columns(2 of 10);
			@include omega;
			margin-top: 5px;
			margin-bottom: 15px;
			text-align: right;

			@include media ($tablet) {
				@include span-columns(3 of 10);
			}
		}
	}

	footer {
		background: $dark-gray;
		color: transparentize(white, 0.5);
		padding: 15px;
		@include outer-container;
		font-size: 12px;

		a {
			@include transition (all 0.2s ease-in-out);
    		color: transparentize(white, 0.5);
    		display: inline-block;
    		text-decoration:underline;
    		float: right;
    		padding-left: 5px;

    		&:hover {
				color: white;
				text-decoration: none;
			}
    	}
	}

	.modal {
		$modal-padding: 2em;
		$modal-background: $base-body-color;
		$modal-close-color: $light-gray;
		$modal-image-height: 135px;
		$modal-image-width: $modal-image-height;

		label {
			cursor: pointer;
			margin-bottom: 0;
		}

		input[type="checkbox"] {
			display: none;
		}

		.btn {
			@include btn($base-accent-color);
			font-size: $base-font-size;
			margin-bottom: $base-line-height;
			display: inline-block;
		}

		.modal-open {
			overflow: hidden;
		}

		.modal-window { 
			// overlay
			@include transition(opacity .25s ease);
			@include position(fixed, 0px 0px 0px 0px);
			background: rgba(0,0,0, .85);
			opacity: 0;
			text-align: left;
			visibility: hidden;
			z-index: 99999999999;

			.modal-bg {
				@include position(absolute, 0px 0px 0px 0px);
				cursor: pointer;
			}
		}

		.modal-close {
			@include position(absolute, ($modal-padding /2) ($modal-padding /2) auto auto);
			@include size(1.5em);
			cursor: pointer;
			background: $modal-background;

			&:after,
			&:before {
				@include position(absolute, 3px 3px 0 50%);
				@include transform(rotate(45deg));
				@include size(.15em 1.5em);
				background: $modal-close-color;
				content: '';
				display: block;
				margin: -3px 0 0 -1px;
			}

			&:hover:after,
			&:hover:before {
				background: darken($modal-close-color, 10);
			}

			&:before {
				@include transform(rotate(-45deg));
			}
		}

		.modal-inner {
			@include transition(opacity .25s ease);
			border-radius: $base-border-radius;
			background: $modal-background;
			margin: auto;
			max-height: 95%;
			position: relative;
			overflow: auto;
			@include span-columns(4 of 10);
			@include shift(3);
			padding: $modal-padding;
			margin-top: 9em;

			@include media($tablet) {
				padding: $modal-padding;
				@include span-columns(4 of 8);
				@include shift(2 of 8);
				max-height: 60%;
				margin-top: 7em;
			}

			@include media($mobile) {
				padding: $modal-padding/2;
				@include span-columns(3.5 of 4);
				@include shift(0.25 of 4);
				max-height: 60%;
				margin-top: 5em;
			}

			p {
			  max-width: 100% !important;
			  padding: 0;
			  text-align: left;
			}

			a.cta {
				color: white;
				display: inline-block;
				margin-right: .5em;
				margin-top: 1em;

				&:last-child {
					padding: 0 2em;
				}
			}
		}

		.modal-state:checked + .modal-window {
			opacity: 1;
			visibility: visible;
		}

		.modal-state:checked + .modal-window .modal-inner {
			top: 0;
		}
	}

}

