footer {
	background: $dark-gray;
	color: transparentize(white, 0.5);
	padding: 15px 0;
	@include outer-container;
	font-size: 10px;

	@include media ($tablet) {
		padding: 15px;
	}

	a {
		@include transition (all 0.2s ease-in-out);
		color: transparentize(white, 0.5);
		display: inline-block;
		text-decoration:underline;
		float: right;
		padding-left: 5px;
		font-size: 13px;
		margin-left: 10px;

		&:hover {
			color: white;
			text-decoration: none;
		}
	}

	.modal {
		display: inline-block;
		float: right;

		label {
			@include transition (all 0.2s ease-in-out);
    		color: transparentize(white, 0.5);
    		display: inline-block;
    		//text-decoration:underline;
    		float: right;
    		padding-left: 5px;
    		font-size: 13px;
    		font-weight: normal;
    		margin-left: 20px;

    		&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
}