@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "bitters/bitters";


// General Colors
$grey-text: #646464;
$error-red: #a60000;
$error-background: #ffd5d5;
// Corporate Colors 
$light-coffee: #F0E3CF;
$strong-coffee: #CAB69A;


@import "mixins";
@import "base";
@import "header";
@import "footer";

@import "pages/account-settings";
@import "pages/challenge-score";
@import "pages/challenges-list-all";
@import "pages/groups-list";
@import "pages/group-show";
@import "pages/highscore";
@import "pages/landing-page";
@import "pages/menu";
@import "pages/question-create";
@import "pages/question-register-done";
@import "pages/question-score-challenge";
@import "pages/question-score";
@import "pages/question-show";
@import "pages/questions-list-all";
@import "pages/register";
@import "pages/statistics-all";
@import "pages/statistics-question";
@import "pages/statistics-user";

@import "pages/login";
